<template>
  <v-dialog v-if="value" :value="value" @input="close" width="400px" overlay-opacity="0.8" overlay-color="white">
    <v-card class="pt-4 publish-dialog">
      <v-card-title class="publish-dialog__title">
        Publicar Encuesta
      </v-card-title>
      <v-card-text class="pt-8 text-center">
        <v-select
          v-if="udelar"
          :items="universities"
          item-text="name"
          item-value="id"
          v-model="selectedUniversityId"
          label="Universidades"
        ></v-select>
        <v-select
          v-if="!udelar"
          :items="courses"
          item-text="name"
          item-value="id"
          v-model="selectedCourseId"
          label="Cursos"
        ></v-select>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click.native="close">Cerrar</v-btn>
            <v-btn dark class="ml-1 publish-dialog__confirm" depressed :loading="isLoading" @click="publishPoll">
              Publicar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { NotificationMixin } from "@/mixins/notifications";
import { University } from "@/models/university";
import { Course } from "@/models/course";
import { getCourses } from "@/services/courses";
import { getUniversities } from "@/services/universities";
import { publishPoll, publishPollInUniversity } from "@/services/polls";
import UserModule from "@/store/modules/user";

@Component({})
export default class Publish extends Mixins(NotificationMixin) {
  @Prop({ default: false }) value!: boolean;
  @Prop({ default: false }) udelar!: boolean;
  @Prop({ default: "" }) readonly pollId!: string;

  private universities: University[] = [];
  private selectedCourseId = "";
  private selectedUniversityId = "";
  private courses: Course[] = [];
  private isLoading = false;

  private get universityId() {
    return UserModule.user?.Tenant ?? "";
  }

  private created() {
    if (this.udelar) {
      this.getUniversities();
    } else {
      this.getCourses();
    }
  }

  private close() {
    this.$emit("input");
  }

  private async getUniversities() {
    try {
      this.universities = await getUniversities();
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async getCourses() {
    try {
      this.courses = await getCourses(this.universityId);
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async publishPoll() {
    this.isLoading = true;
    try {
      if (this.udelar) {
        await publishPollInUniversity(this.selectedUniversityId, this.pollId);
      } else {
        await publishPoll(this.universityId, this.selectedCourseId, this.pollId);
      }
      this.close();
      this.success("Encuestas", "Se publico la encuesta correctamente");
    } catch (error) {
      this.errorHandling(error);
    } finally {
      this.isLoading = false;
    }
  }
}
</script>

<style lang="scss" scoped>
.publish-dialog {
  border-top: 5px solid #00bcd4;

  .publish-dialog__title {
    justify-content: center;
    padding: 0;
  }

  .publish-dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
}
</style>
