<template>
  <v-card class="pa-4 question" :ripple="false" @click.native="$emit('select')">
    <v-btn icon absolute class="question__remove" @click.native="$emit('remove')">
      <v-icon>mdi-close</v-icon>
    </v-btn>
    <v-card-text class="pt-6 pb-0">
      <v-row no-gutters>
        <v-col cols="6" class="px-2">
          <v-form lazy-validation ref="question-form">
            <v-text-field
              label="Pregunta"
              :rules="[rules.required]"
              placeholder="Pregunta"
              v-model="question.question"
            ></v-text-field>
          </v-form>
        </v-col>
        <v-col cols="6" class="px-2">
          <v-select
            v-model="question.type"
            :items="questionTypes"
            item-text="value"
            item-value="id"
            outlined
            label="Tipos"
          ></v-select>
        </v-col>
        <v-col cols="12" class="px-2">
          <v-text-field v-if="question.type == 'simple'" label="Respuesta" disabled></v-text-field>
          <v-list v-else>
            <v-list-item v-for="(option, index) in question.options" :key="index">
              <v-text-field
                prepend-icon="mdi-checkbox-blank-circle-outline"
                :label="`Opcion ${index + 1}`"
                @keydown.enter="addOption"
                v-model="question.options[index]"
                autofocus
              ></v-text-field>
              <v-btn icon @click="removeOption(index)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </v-list-item>
            <v-list-item>
              <v-btn icon class="mx-auto" @click="addOption">
                <v-icon>mdi-plus-circle-outline</v-icon>
              </v-btn>
            </v-list-item>
          </v-list>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Mixins, Component, Prop } from "vue-property-decorator";
import { RuleMixin } from "@/mixins/rules";

@Component({})
export default class Question extends Mixins(RuleMixin) {
  @Prop({ default: {} }) question!: { id: number; type: string; question: string; options: string[] };

  $refs!: {
    "question-form": HTMLFormElement;
  };

  private questionTypes = [
    { id: "simple", value: "Pregunta" },
    { id: "multiple", value: "Multiple Opcion" }
  ];

  private addOption() {
    this.question.options.push(`Opcion ${this.question.options.length + 1}`);
  }

  private removeOption(index: number) {
    this.question.options.splice(index, 1);
  }
}
</script>

<style lang="scss" scoped>
.question {
  display: inline-block;
  min-width: 800px;
  max-width: 800px;

  .question__remove {
    right: 0;
    top: 0;
  }
}
</style>
