<template>
  <div class="universitie">
    <v-row no-gutters justify="center">
      <v-col cols="12" sm="12" md="10" lg="8">
        <universitie-card></universitie-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import UniversitieCard from "@/components/University/UniversityCard.vue";

@Component({
  components: {
    UniversitieCard
  }
})
export default class Universitie extends Vue {}
</script>

<style lang="scss" scoped>
.universitie {
  padding: 2rem;
}
</style>
