<template>
  <div class="universities">
    <v-row no-gutters justify="center">
      <v-col cols="12" sm="12" md="10" lg="10">
        <list @event="addDialog = true">
          <template slot="list">
            <transition name="scale-transition" mode="out-in">
              <div v-if="filtered.length !== 0" key="list" class="list__overflow">
                <list-item v-for="university in filtered" :key="university.id">
                  <v-avatar slot="image" class="ma-3" size="102" tile color="#f0f0f0">
                    <v-img src="./../../assets/images/logo.jpg"></v-img>
                  </v-avatar>
                  <template slot="content">
                    <v-card-title class="headline px-0">{{ university.name }}</v-card-title>
                    <v-card-subtitle class="px-0 pb-0">{{ university.accessPath }}</v-card-subtitle>
                  </template>
                  <v-chip slot="online" color="green" outlined label class="my-3">
                    <span class="online"></span>
                    Online
                  </v-chip>
                  <template slot="actions">
                    <v-btn
                      class="mx-1"
                      color="warning"
                      depressed
                      dark
                      @click="$router.push(`University/${university.id}`)"
                      >Modificar</v-btn
                    >
                  </template>
                </list-item>
              </div>
              <no-data v-else key="no-data" :loading="loading" />
            </transition>
          </template>
        </list>
      </v-col>
    </v-row>

    <add-university v-model="addDialog" @create="createUniversity"></add-university>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { getUniversities, createUniversity } from "@/services/universities";
import { NotificationMixin } from "@/mixins/notifications";
import { SearchMixin } from "@/mixins/search";
import { University } from "@/models/university";
import List from "@/components/List/List.vue";
import ListItem from "@/components/List/ListItem.vue";
import NoData from "@/components/List/NoData.vue";
import AddUniversity from "@/components/University/AddUniversity.vue";

@Component({
  components: {
    List,
    ListItem,
    NoData,
    AddUniversity
  }
})
export default class Universities extends Mixins(NotificationMixin, SearchMixin) {
  private isLogged!: number;
  private universities: University[] = [];
  private loading = false;
  private addDialog = false;

  private created() {
    this.loading = true;
    this.getUniversities().then(() => {
      this.loading = false;
    });
  }

  private async getUniversities() {
    try {
      this.universities = await getUniversities();
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async createUniversity(university: University) {
    try {
      const response = await createUniversity(university);
      this.filtered.unshift(response);
      this.addDialog = false;
      this.success("Universidades", "Se creo la universidad correctamente");
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private get filtered() {
    return this.filterData(this.universities);
  }
}
</script>

<style lang="scss" scoped>
.universities {
  padding: 2rem;
}
</style>
