<template>
  <v-dialog
    v-if="value"
    :value="value"
    @input="close"
    width="auto"
    max-width="450"
    overlay-opacity="0.8"
    overlay-color="white"
  >
    <v-card class="pt-4 add-dialog">
      <v-card-title class="add-dialog__title">Agregar Carrera</v-card-title>
      <v-card-text class="pt-8">
        <v-form ref="add-career" lazy-validation>
          <v-text-field
            v-model="name"
            label="Nombre"
            :rules="[rules.required]"
            @keydown.enter.prevent="createCareer"
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click.native="close">Cerrar</v-btn>
            <v-btn dark class="ml-1 add-dialog__confirm" depressed :loading="isLoading" @click="createCareer">
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { RuleMixin } from "@/mixins/rules";
import { UtilitiesMixin } from "@/mixins/utilities";
import { NotificationMixin } from "@/mixins/notifications";
import { createCareer } from "@/services/careers";

@Component({})
export default class AddCareer extends Mixins(RuleMixin, UtilitiesMixin, NotificationMixin) {
  @Prop({ default: false }) value!: boolean;

  $refs!: {
    "add-career": HTMLFormElement;
  };
  private name = "";

  private isLoading = false;

  private close() {
    this.$emit("input");
  }

  private async createCareer() {
    if (this.$refs["add-career"].validate()) {
      try {
        this.isLoading = true;
        const career = await createCareer(this.name);
        this.close();
        this.success("Carrera", "Se creo la carrera correctamente");
        this.$emit("create", career);
      } catch (error) {
        this.errorHandling(error);
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.add-dialog {
  border-top: 5px solid #00bcd4;

  .add-dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
  .add-dialog__title {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

.content {
  width: 400px;
}
</style>
