<template>
  <v-dialog
    v-if="value"
    :value="value"
    @input="close"
    width="auto"
    max-width="550"
    overlay-opacity="0.8"
    overlay-color="white"
  >
    <v-card class="pt-4 add-dialog">
      <v-card-title class="add-dialog__title">Modificar Carrera</v-card-title>
      <v-card-text class="pt-8">
        <v-form ref="add-career" lazy-validation>
          <v-text-field
            v-model="career.name"
            label="Nombre"
            :rules="[rules.required]"
            @keydown.enter.prevent="updateCareer"
          ></v-text-field>
        </v-form>
        <v-text-field
          dense
          hide-details
          label="Buscar cursos..."
          prepend-inner-icon="mdi-magnify"
          class="mt-5"
          v-model="search"
          filled
          rounded
        ></v-text-field>
        <v-list rounded color="#f9f9f9" min-height="220px" class="mt-5">
          <transition name="scale-transition" mode="out-in" appear>
            <v-list-item-group
              v-if="filterData.length != 0"
              class="courses-list"
              v-model="careerSubjects"
              color="secondary"
              multiple
            >
              <v-list-item
                :value="course.id"
                v-for="course in filterData"
                :key="course.id"
                @click.stop="setupCareerCourses(course)"
              >
                <template v-slot:default="{ active }">
                  <v-list-item-avatar size="52">
                    <v-icon>mdi-book-variant</v-icon>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>{{ course.name }}</v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-action style="flex-direction: unset;">
                    <v-checkbox :input-value="active"></v-checkbox>
                  </v-list-item-action>
                </template>
              </v-list-item>
            </v-list-item-group>
            <div v-else class="no-data">
              <no-data key="no-data" :loading="isLoading" />
            </div>
          </transition>
        </v-list>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click.native="close">Cerrar</v-btn>
            <v-btn dark class="ml-1 add-dialog__confirm" depressed :loading="isLoading" @click="updateCareer">
              Guardar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { RuleMixin } from "@/mixins/rules";
import { UtilitiesMixin } from "@/mixins/utilities";
import { NotificationMixin } from "@/mixins/notifications";
import NoData from "@/components/List/NoData.vue";
import { updateCareer, addCoursesToCareer, removeCoursesFromCareer, getCareer } from "@/services/careers";
import { Career } from "@/models/career";
import { Course } from "@/models/course";
import { getCourses } from "@/services/courses";
import UserModule from "@/store/modules/user";

@Component({
  components: {
    NoData
  }
})
export default class UpdateCareer extends Mixins(RuleMixin, UtilitiesMixin, NotificationMixin) {
  @Prop({ default: false }) value!: boolean;
  @Prop({
    default: () => {
      return {};
    }
  })
  selectedCareer!: Career;

  $refs!: {
    "update-career": HTMLFormElement;
  };
  private name = "";
  private isLoading = false;
  private search = "";
  private courses: Course[] = [];
  private selectedCourses: Course[] = [];
  private coursesToAdd: string[] = [];
  private coursesToRemove: string[] = [];
  private subjects: string[] = [];
  private career: Career = {
    id: "",
    name: "",
    subjects: []
  };

  private close() {
    this.$emit("input");
  }
  private created() {
    this.isLoading = true;
    Promise.all([this.getCareer(), this.getCourses()]).then(() => {
      this.isLoading = false;
    });
  }

  private set careerSubjects(subjects: string[]) {
    this.subjects = subjects;
  }

  private get careerSubjects(): string[] {
    return this.subjects;
  }

  private async getCareer() {
    try {
      this.career = await getCareer(this.selectedCareer.id, this.universityId);
      this.subjects =
        this.career.subjects?.map(subject => {
          return subject.id;
        }) ?? [];
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private setupCareerCourses(value: Course) {
    if (
      !this.coursesToRemove.find(course => {
        return course == value.id;
      })
    )
      if (
        this.careerSubjects.find(course => {
          return course == value.id;
        })
      ) {
        if (
          this.coursesToAdd.find(course => {
            return course == value.id;
          })
        ) {
          this.coursesToAdd.splice(this.coursesToAdd.indexOf(value.id), 1);
        } else {
          this.coursesToRemove.push(value.id);
        }
      } else {
        this.coursesToAdd.push(value.id);
      }
    else {
      this.coursesToRemove.splice(this.coursesToRemove.indexOf(value.id), 1);
    }
  }

  private get universityId() {
    return UserModule.user ? UserModule.user.Tenant : "";
  }

  private async getCourses() {
    try {
      this.courses = await getCourses(this.universityId);
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async updateCareer() {
    try {
      await updateCareer(this.career.id, this.career.name);
      if (this.coursesToAdd.length > 0) {
        await addCoursesToCareer(this.career.id, this.coursesToAdd);
      }
      if (this.coursesToRemove.length > 0) {
        await removeCoursesFromCareer(this.career.id, this.coursesToRemove);
      }
      this.$emit("update", this.career);
      this.close();
      this.success("Carreras", "La carrera se modifico correctamente");
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private get filterData() {
    return this.courses.filter(course => {
      return (
        course.name.toLowerCase().includes(this.search.toLowerCase()) ||
        course.name.toLowerCase().includes(this.search.toLowerCase())
      );
    });
  }
}
</script>

<style lang="scss" scoped>
.add-dialog {
  border-top: 5px solid #00bcd4;

  .add-dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
  .add-dialog__title {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

.professor-list {
  max-height: 220px;
  overflow: auto;
}

.content {
  width: 400px;
}
</style>
