<template>
  <v-card flat>
    <v-card-text style="height: 380px; padding-top: 8px;" class="pb-0">
      <v-form lazy-validation ref="publish-notice-form">
        <v-text-field label="Titulo" prepend-inner-icon="mdi-format-title" v-model="title" :rules="[rules.required]">
        </v-text-field>
      </v-form>
      <vue-editor class="pt-10" useCustomImageHandler @image-added="handleImageAdded" v-model="content"></vue-editor>
    </v-card-text>
    <v-card-actions>
      <v-btn color="success" x-large depressed block class="mx-auto" :loading="isLoading" @click="handlePublishNotice"
        >Publicar</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { VueEditor } from "vue2-editor";
import { NotificationMixin } from "@/mixins/notifications";
import { RuleMixin } from "@/mixins/rules";
import { getCourses } from "@/services/courses";
import { createNotice, createNoticeInUniversity } from "@/services/notices";
import { Course } from "@/models/course";
import UserModule from "@/store/modules/user";
import axios from "axios";

@Component({
  components: {
    VueEditor
  }
})
export default class PublishNotice extends Mixins(NotificationMixin, RuleMixin) {
  @Prop({ default: false }) isUdelar!: boolean;
  @Prop({ default: "" }) courseId!: string;
  private content = "<h2>Escriba su comunicado...</h2>";
  private courses: Course[] = [];
  private selectedCourse = "";
  private isLoading = false;
  private title = "";
  $refs!: {
    "publish-notice-form": HTMLFormElement;
  };

  private created() {
    if (this.isUdelar) this.getCourses();
  }

  private close() {
    this.$emit("input");
  }

  private get universityId() {
    return UserModule.user ? UserModule.user.Tenant : "";
  }

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  private async handleImageAdded(file: File, Editor: any, cursorLocation: any, resetUploader: Function) {
    const formData = new FormData();
    formData.append("image", file);

    try {
      const result = await axios({
        url: "https://api.imgur.com/3/image/",
        headers: {
          Authorization: `Client-ID ${process.env.VUE_APP_CLIENTID}`
        },
        method: "POST",
        data: formData
      });
      const url = result.data.data.link;
      Editor.insertEmbed(cursorLocation, "image", url);
      resetUploader();
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async getCourses() {
    try {
      const response = await getCourses(this.$route.params.id);
      this.courses = response;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async createNotice() {
    if (this.$refs["publish-notice-form"].validate()) {
      try {
        this.isLoading = true;
        await createNoticeInUniversity(this.$route.params.id, { message: this.content, title: this.title });
        this.content = "<h2>Escriba su comunicado...</h2>";
        this.success("Comunicados", "Se publico el comunicado correctamente");
      } catch (error) {
        this.errorHandling(error);
      } finally {
        this.isLoading = false;
      }
    }
  }

  private async createNoticeForCourse() {
    if (this.$refs["publish-notice-form"].validate()) {
      if (this.universityId) {
        try {
          this.isLoading = true;
          await createNotice(this.universityId, this.courseId, { message: this.content, title: this.title });
          this.content = "<h2>Escriba su comunicado...</h2>";
          this.title = "";
          this.success("Comunicados", "Se publico el comunicado correctamente");
        } catch (error) {
          this.errorHandling(error);
        } finally {
          this.isLoading = false;
        }
      }
    }
  }

  private handlePublishNotice() {
    if (this.isUdelar) {
      this.createNotice();
    } else {
      this.createNoticeForCourse();
    }
  }
}
</script>

<style lang="scss" scoped></style>
