<template>
  <v-card flat>
    <v-card-text>
      <v-row no-gutters>
        <v-col cols="12">
          <div class="mb-5 list">
            <v-text-field
              v-if="paginateUsers"
              dense
              hide-details
              label="Search"
              v-model="search"
              @keydown.enter.native="$emit('search')"
              prepend-inner-icon="mdi-magnify"
              filled
              rounded
            ></v-text-field>
            <v-text-field
              v-else
              dense
              hide-details
              label="Search"
              v-model="search"
              prepend-inner-icon="mdi-magnify"
              filled
              rounded
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-btn color="success" :dark="!disabled" depressed @click="$emit('event')" :disabled="disabled">
              <v-icon class="mr-1">mdi-plus-circle</v-icon>
              Agregar
            </v-btn>
          </div>
        </v-col>
        <v-col cols="12">
          <slot name="list"></slot>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({})
export default class List extends Vue {
  @Prop({ default: false }) readonly disabled!: boolean;
  @Prop({ default: false }) readonly paginateUsers!: boolean;

  private get search() {
    return this.$store.state.search;
  }

  private set search(value) {
    this.$store.commit("SET_SEARCH", value);
  }
}
</script>

<style lang="scss">
.list__overflow {
  max-height: 67vh !important;
  overflow-y: auto !important;
}
</style>

<style lang="scss" scoped>
.list {
  display: flex;
  align-items: center;

  .list__button {
    background: linear-gradient(90deg, #6cb184, #09bd4a);
  }
}

.online {
  width: 12px;
  height: 12px;
  background: #0dbc4c;
  border-radius: 30px;
  margin-right: 5px;
}
</style>
