<template>
  <div class="new-poll">
    <v-row no-gutters justify="center">
      <v-col cols="12" class="text-center">
        <div v-if="polls.length !== 0">
          <v-card class="pa-4 my-4 new-poll__title py-4" v-for="answer in polls" :key="answer.createdOn">
            <v-card-text class="pb-4">
              <h2 class="display-1 font-weight-bold">{{ answer.title }}</h2>
            </v-card-text>
          </v-card>
          <v-col cols="12" v-for="question in questions" :key="question.question">
            <v-card class="pa-4 my-4 new-poll__title" :ripple="false">
              <v-card-text class="pt-6 pb-0">
                <v-row no-gutters>
                  <v-col cols="12" class="px-2">
                    <v-text-field
                      label="Pregunta"
                      placeholder="Pregunta"
                      readonly
                      v-model="question.question"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" class="px-2">
                    <v-text-field v-if="!question.choices" label="Respuesta" v-model="question.response"></v-text-field>
                    <v-radio-group v-else v-model="selectedChoice">
                      <v-radio :label="question.choices[0]" readonly></v-radio>
                    </v-radio-group>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" sm="12" md="12" lg="12" class="pt-5">
            <div class="text-center" v-if="polls.length != 0">
              <v-pagination
                color="secondary"
                @input="getPollAnswers"
                v-model="page"
                total-visible="5"
                :length="pageLength"
              ></v-pagination>
            </div>
          </v-col>
        </div>
        <v-card v-else class="pa-4 my-4 py-4" flat style="max-width: 800px; display: inline-block;">
          <v-card-text>
            <div v-if="isLoading" key="skeleton-loaders">
              <v-skeleton-loader
                v-for="unit in 1"
                :key="unit"
                class="mx-auto my-5"
                max-height="200"
                type="table-heading, list-item-three-line"
              >
              </v-skeleton-loader>
            </div>
            <div v-else>
              <v-img
                alt="No Answers"
                contain
                :src="require('@/assets/images/no-answers.svg')"
                transition="scale-transition"
                class="login__waves"
              />
              <h1 class="font-weight-bold mt-12">No se encontraron respuestas para esta encuesta</h1>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import { NotificationMixin } from "@/mixins/notifications";
import { getPollAnwers } from "@/services/polls";
import { PollAnswer } from "@/models/poll";

@Component({})
export default class PollAnswers extends Mixins(NotificationMixin) {
  private polls: PollAnswer[] = [];
  private count = 0;
  private page = 1;
  private limit = 1;
  private isLoading = false;
  private selectedChoice = 0;
  private questions: {
    id?: string;
    response?: string;
    selectedChoice?: string;
    text?: string;
    question?: string;
    position: number;
    options?: { id?: string; text: string }[];
  }[] = [];

  private created() {
    this.isLoading = true;
    this.getPollAnswers().then(() => {
      this.isLoading = false;
    });
  }

  private async getPollAnswers() {
    try {
      const response = await getPollAnwers(this.$route.params.poll, { page: this.page, limit: this.limit });
      this.polls = response.readPollAnswerDtos;
      this.count = response.count;
      if (this.polls.length > 0) {
        this.questions = [];
        this.polls[0].openAnswerDtos.forEach(question => {
          this.questions.push(question);
        });
        this.polls[0].multipleChoiceAnswerDtos.forEach(question => {
          this.questions.push(question);
        });

        this.questions = this.questions.sort((a, b) => {
          return a.position - b.position;
        });
      }
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private get pageLength(): number {
    return this.count > this.limit ? Math.ceil(this.count / this.limit) : 1;
  }

  private get universityId() {
    return this.$store.state.university.id;
  }
}
</script>

<style lang="scss">
.v-card--link::before {
  background: none !important;
}
</style>

<style lang="scss" scoped>
.new-poll {
  padding: 2rem;
  height: calc(100% - 103px);
  position: relative;

  .new-poll__title {
    border-top: 6px solid #00bcd4;
    display: inline-block;
    min-width: 800px;
    max-width: 800px;
  }
  .question--selected {
    border-left: 6px solid #00bcd4;
  }
}

.question-list {
  max-height: 500px;
  overflow-y: auto;
}
</style>
