<template>
  <div class="polls">
    <v-row no-gutters justify="center">
      <v-col cols="12" sm="12" md="10" lg="10">
        <list @event="$router.push('/add-poll')">
          <template slot="list">
            <transition name="scale-transition" mode="out-in">
              <div v-if="filtered.length !== 0" key="list" class="list__overflow">
                <list-item v-for="poll in filtered" :key="poll.id">
                  <v-avatar slot="image" class="ma-3" size="72" tile color="#f0f0f0">
                    <v-icon size="42">mdi-format-list-bulleted-square</v-icon>
                  </v-avatar>
                  <template slot="content">
                    <v-card-title class="headline px-0">{{ poll.title }}</v-card-title>
                    <v-card-subtitle class="px-0">{{ toLocalDate(poll.createdOn) }}</v-card-subtitle>
                  </template>
                  <template slot="actions">
                    <v-btn
                      class="mx-1"
                      color="#00bcd4"
                      depressed
                      dark
                      link
                      :to="{ name: 'PollAnswers', params: { poll: poll.id } }"
                      >Ver Respuestas</v-btn
                    >
                    <v-btn
                      class="mx-1"
                      color="success"
                      depressed
                      @click="
                        publishDialog = true;
                        setPoll(poll);
                      "
                      >Publicar</v-btn
                    >
                  </template>
                </list-item>
              </div>
              <no-data v-else key="no-data" :loading="loading" />
            </transition>
          </template>
        </list>
      </v-col>
    </v-row>
    <publish v-if="publishDialog" v-model="publishDialog" :pollId="selectedPollId" :udelar="isUdelar" />
  </div>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import List from "@/components/List/List.vue";
import ListItem from "@/components/List/ListItem.vue";
import NoData from "@/components/List/NoData.vue";
import Publish from "@/components/Polls/Publish.vue";
import { getPolls } from "@/services/polls";
import { Poll } from "@/models/poll";
import { NotificationMixin } from "@/mixins/notifications";
import { SearchMixin } from "@/mixins/search";
import Users from "@/store/modules/user";

@Component({
  components: {
    List,
    ListItem,
    Publish,
    NoData
  }
})
export default class Polls extends Mixins(NotificationMixin, SearchMixin) {
  private publishDialog = false;
  private polls: Poll[] = [];
  private loading = false;
  private selectedPollId = "";

  private created() {
    this.loading = true;
    this.getPolls().then(() => {
      this.loading = false;
    });
  }

  private async getPolls() {
    try {
      const polls = await getPolls();
      this.polls = polls;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private setPoll(poll: Poll) {
    this.selectedPollId = poll.id;
  }

  private get filtered() {
    return this.filterData(this.polls);
  }

  private get isUdelar() {
    return Users.userRole === "UdelarAdmin";
  }
}
</script>

<style lang="scss" scoped>
.polls {
  padding: 2rem;
}
</style>
