<template>
  <div class="header">
    <transition name="scale-transition" mode="out-in" appear>
      <v-menu transition="slide-y-transition" nudge-bottom="45px" bottom avatar>
        <template v-slot:activator="{ on }">
          <span v-on="on">
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn large depressed class="header__avatar pa-0" v-on="on">
                  <v-avatar :color="getRandomColor">
                    <span class="white--text headline">{{ user.given_name[0] }}</span>
                  </v-avatar>
                  <v-icon class="ma-0" color="grey">mdi-chevron-down</v-icon>
                </v-btn>
              </template>
              <span class="d-inline-block text-truncate" style="max-width: 150px;">{{ user.given_name }}</span>
            </v-tooltip>
          </span>
        </template>
        <v-card width="200px">
          <v-list rounded>
            <v-list-item two-line>
              <v-list-item-content class="justify-center">
                <div class="text-center mx-auto">
                  <v-avatar :color="getRandomColor" class="mb-2">
                    <span class="white--text headline">{{ user.given_name[0] }}</span>
                  </v-avatar>
                  <v-list-item-title>
                    <span class="d-inline-block text-truncate" style="max-width: 150px;">{{ user.given_name }}</span>
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    <span class="d-inline-block text-truncate" style="max-width: 150px;">{{ user.email }}</span>
                  </v-list-item-subtitle>
                  <v-divider class="mt-1"></v-divider>
                </div>
              </v-list-item-content>
            </v-list-item>
            <v-list-item @click="preferencesDialog = true" class="text-center" v-if="userRole != 'UdelarAdmin'">
              <v-list-item-icon class="mr-0">
                <v-icon>mdi-palette</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Apariencia</v-list-item-title>
            </v-list-item>
            <v-list-item @click="logout" class="text-center">
              <v-list-item-icon class="mr-0">
                <v-icon>mdi-logout-variant</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Salir</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </transition>
    <preferences v-if="preferencesDialog" v-model="preferencesDialog"></preferences>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { mapGetters } from "vuex";
import UserModule from "@/store/modules/user";
import Preferences from "@/components/Dialogs/Preferences.vue";
import { UtilitiesMixin } from "@/mixins/utilities";

@Component({
  components: {
    Preferences
  },
  computed: {
    ...mapGetters(["isLogged"])
  }
})
export default class Header extends Mixins(UtilitiesMixin) {
  private isLogged!: boolean;
  private preferencesDialog = false;

  private logout() {
    this.$store.dispatch("logout");
  }

  private get user() {
    return UserModule.user;
  }

  private get userRole() {
    return UserModule.userRole;
  }
}
</script>

<style lang="scss" scoped>
.header {
  padding: 1.5rem;
  width: 100%;
  text-align: end;

  .header__avatar {
    background: transparent !important;
    width: 85px !important;
    border-radius: 8px;
    min-width: 55px !important;
    height: 55px !important;
  }

  .header__avatar:after {
    border-radius: 8px !important;
    width: 85px !important;
    color: #fff;
  }
}
</style>
