<template>
  <v-row no-gutters class="layout">
    <div class="layout__sidebar">
      <side-bar />
    </div>
    <div :class="mini ? 'layout__content' : 'layout__content--extended'">
      <Header />
      <transition name="scale-transition" mode="out-in" appear>
        <router-view></router-view>
      </transition>
    </div>
  </v-row>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { mapState } from "vuex";
import Header from "./Header.vue";
import SideBar from "./Sidebar.vue";

@Component({
  components: {
    Header,
    SideBar
  },
  computed: {
    ...mapState(["mini"])
  }
})
export default class Layout extends Vue {
  private mini!: boolean;
}
</script>

<style lang="scss" scoped>
.layout {
  height: 100%;

  .layout__sidebar {
    position: absolute;
    height: 100%;
  }

  .layout__content {
    width: calc(100% - 80px);
    margin-left: 80px;
    transition: all 0.2s ease-out;
  }

  .layout__content--extended {
    width: calc(100% - 256px);
    margin-left: 256px;
    transition: all 0.2s ease;
  }
}
</style>
