<template>
  <v-navigation-drawer
    v-model="drawer"
    :mini-variant.sync="mini"
    permanent
    dark
    class="sidebar"
    :style="mini ? 'width: 80px !important;' : 'width: 256px !important; '"
  >
    <v-list-item class="px-0 py-1" @click.stop="changeRoute('/')">
      <v-list-item-avatar class="ma-auto" size="80">
        <v-img alt="Logo" contain :src="require('./../../assets/images/logo.png')" transition="scale-transition" />
      </v-list-item-avatar>

      <v-btn icon @click.stop="toggleSidebar(!mini)" class="mr-1">
        <v-icon>mdi-chevron-left</v-icon>
      </v-btn>
    </v-list-item>

    <v-divider></v-divider>

    <v-list dense rounded v-if="userRole == 'UdelarAdmin'">
      <v-list-item
        v-for="item in udelarItems"
        :key="item.title"
        active-class="active"
        link
        @click.stop
        :to="item.route"
        :disabled="item.requireAuth == true ? item.requireAuth !== isLogged : false"
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-list dense rounded v-else>
      <v-list-item
        v-for="item in adminItems"
        :key="item.title"
        active-class="active"
        link
        @click.stop
        :to="item.route"
        :disabled="item.requireAuth == true ? item.requireAuth !== isLogged : false"
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Users from "@/store/modules/user";

@Component({})
export default class SideBar extends Vue {
  private drawer = true;
  private udelarItems = [
    { title: "Facultades", icon: "mdi-school", route: "/", requireAuth: false },
    { title: "Encuestas", icon: "mdi-format-list-bulleted-square", route: "/polls", requireAuth: true },
    { title: "Reportes", icon: "mdi-file-table", route: "/reports", requireAuth: true }
  ];
  private adminItems = [
    { title: "Administradores", icon: "mdi-shield-account", route: "/administrators", requireAuth: true },
    { title: "Usuarios", icon: "mdi-account-tie", route: "/users", requireAuth: true },
    { title: "Carreras", icon: "mdi-library", route: "/careers", requireAuth: true },
    { title: "Templates", icon: "mdi-xml", route: "/templates", requireAuth: true },
    { title: "Cursos", icon: "mdi-book-variant", route: "/courses", requireAuth: true },
    { title: "Reportes", icon: "mdi-file-table", route: "/reports", requireAuth: true },
    { title: "Encuestas", icon: "mdi-format-list-bulleted-square", route: "/polls", requireAuth: true },
    { title: "Bedelias", icon: "mdi-school", route: "/bedelias", requireAuth: true }
  ];

  private changeRoute(route: string) {
    if (this.$router.currentRoute.path != route) {
      this.$router.push(route);
    }
  }

  private toggleSidebar() {
    this.$store.commit("SET_MINI", !this.mini);
  }

  private get mini() {
    return this.$store.state.mini;
  }

  private set mini(value: boolean) {
    this.$store.commit("SET_MINI", value);
  }

  private get isLogged() {
    return Users.isLogged;
  }

  private get userRole() {
    return Users.userRole;
  }
}
</script>

<style lang="scss" scoped>
.sidebar {
  background: linear-gradient(65deg, #03a9f4, #3f51b5);
}

.active {
  color: #fff !important;
}
</style>
