<template>
  <v-card flat style="border-bottom: 1px solid #bdbdbd;" class="rounded-0">
    <v-card-title class="pa-0 pt-3 text-h6 font-weight-light">{{ unit.title }}</v-card-title>
    <v-card-subtitle class="mx-1 mt-1">{{ unit.text }}</v-card-subtitle>
    <v-card-text>
      <div class="py-1" v-for="forum in unit.forumComponents" :key="forum.id">
        <div class="mx-4">
          <v-icon class="pb-1" color="green darken-2">mdi-forum-outline</v-icon>
          <a class="mx-3 font-weight-thin" style="color: #2196F3;">{{ forum.title }}</a>
        </div>
      </div>
      <div class="py-1" v-for="meeting in unit.virtualMeetingComponents" :key="meeting.id">
        <div class="mx-4">
          <v-icon class="pb-1" color="secondary">mdi-google-classroom</v-icon>
          <a class="mx-3 font-weight-thin" style="color: #2196F3;">{{ meeting.title }}</a>
        </div>
      </div>
      <div class="py-1" v-for="assigment in unit.assigmentComponents" :key="assigment.id">
        <div class="mx-4">
          <v-icon class="pb-1" color="teal lighten-2 ">mdi-briefcase-upload-outline</v-icon>
          <a class="mx-3 font-weight-thin" style="color: #2196F3;">{{ assigment.title }}</a>
        </div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component({})
export default class EducationalUnit extends Vue {
  @Prop({
    default: () => {
      return {};
    }
  })
  unit!: {};
}
</script>

<style lang="scss" scoped></style>
