<template>
  <v-dialog
    v-if="value"
    :value="value"
    @input="close"
    width="auto"
    max-width="650"
    overlay-opacity="0.8"
    overlay-color="white"
  >
    <v-card class="pa-4 pb-0 add-dialog">
      <v-card-title class="add-dialog__title pt-0 text-h5 font-weight-regular">{{ template.title }}</v-card-title>
      <v-card-subtitle class="text-cetner pt-4 font-weight-regular subtitle-2">{{
        template.description
      }}</v-card-subtitle>
      <v-card-text class="pt-0 unit__list">
        <educational-unit v-for="unit in sortEducationalUnits" :key="unit.id" :unit="unit" />
        <v-alert
          v-if="sortEducationalUnits.length == 0"
          class="my-2"
          border="left"
          color="info"
          text
          dark
          icon="mdi-emoticon-poop"
        >
          Este template no tiene secciones disponibles
        </v-alert>
      </v-card-text>
      <v-card-actions class="pt-4">
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn dark class="ml-1 add-dialog__confirm" depressed @click="close">
              Cerrar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Template } from "@/models/templates";
import EducationalUnit from "@/components/Templates/EducationalUnit.vue";

@Component({
  components: {
    EducationalUnit
  }
})
export default class TemplateDialog extends Vue {
  @Prop({ default: false }) value!: boolean;
  @Prop({
    default: () => {
      return {};
    }
  })
  template!: Template;

  private close() {
    this.$emit("input");
  }

  private get sortEducationalUnits() {
    return this.template.educationalUnits.sort((a, b) => {
      return a.position - b.position;
    });
  }
}
</script>

<style lang="scss" scoped>
.add-dialog {
  border-top: 5px solid #00bcd4;

  .add-dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
  .add-dialog__title {
    justify-content: center;
  }
}

.unit__list {
  overflow-y: auto;
  max-height: 350px;
}

.content {
  width: 400px;
  align-self: center;
}
.server-error__subtitle {
  font-size: 17px;
  color: #6b6b6b;
  margin: 0;
}
</style>
