<template>
  <v-dialog
    v-if="value"
    :value="value"
    @input="close"
    width="auto"
    max-width="650"
    overlay-opacity="0.8"
    overlay-color="white"
  >
    <v-card class="pt-4 add-dialog">
      <v-card-title class="add-dialog__title">Agregar Usuario</v-card-title>
      <v-card-text class="d-flex flex-wrap container pt-8">
        <v-avatar v-if="!hasName" color="white" size="130" class="mx-4 my-8">
          <v-icon light size="130">mdi-account-circle</v-icon>
        </v-avatar>
        <v-avatar v-else :color="getRandomColor" size="130" class="mx-4 my-8">
          <span class="white--text display-1"
            >{{ professor.firstName.toUpperCase()[0] }}{{ professor.lastName.toUpperCase()[0] }}</span
          >
        </v-avatar>
        <v-form ref="add-professor" lazy-validation>
          <div class="content">
            <v-row no-gutters>
              <v-col class="pr-2">
                <v-text-field
                  :rules="[rules.required]"
                  v-model="professor.firstName"
                  color="primary"
                  label="Nombre"
                  @keydown.enter.prevent="createProfessor"
                ></v-text-field>
              </v-col>
              <v-col class="pl-2">
                <v-text-field
                  :rules="[rules.required]"
                  v-model="professor.lastName"
                  color="primary"
                  label="Apellido"
                  @keydown.enter.prevent="createProfessor"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-text-field
              label="Cedula"
              v-model="professor.ci"
              :rules="[rules.minPassword]"
              @keypress="onlyNumber"
              oninput="javascript: if (this.value.length > 8) this.value = this.value.slice(0, this.maxLength);"
              @keydown.enter.prevent="createProfessor"
            ></v-text-field>
            <v-text-field
              :rules="[rules.mail]"
              v-model="professor.email"
              color="primary"
              label="Correo Electronico"
              @keydown.enter.prevent="createProfessor"
            ></v-text-field>
            <v-select
              :rules="[rules.selectRule]"
              v-model="professor.roles"
              :items="roles"
              item-value="value"
              item-text="text"
              label="Rol de Usuario"
              small-chips
              multiple
            ></v-select>
          </div>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click.native="close">Cerrar</v-btn>
            <v-btn dark class="ml-1 add-dialog__confirm" depressed :loading="isLoading" @click="createProfessor">
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { RuleMixin } from "@/mixins/rules";
import { UtilitiesMixin } from "@/mixins/utilities";
import { NotificationMixin } from "@/mixins/notifications";
import { createUser } from "@/services/users";
import { Professor } from "@/models/professor";

@Component({})
export default class AddDialog extends Mixins(RuleMixin, UtilitiesMixin, NotificationMixin) {
  @Prop({ default: false }) value!: boolean;

  $refs!: {
    "add-professor": HTMLFormElement;
  };

  private isLoading = false;
  private roles = [
    {
      text: "Profesor",
      value: "Professor"
    },
    {
      text: "Estudiante",
      value: "Student"
    }
  ];
  private professor: Professor = {
    firstName: "",
    lastName: "",
    email: "",
    ci: "",
    roles: []
  };

  private close() {
    this.$emit("input");
  }

  private get hasName(): boolean {
    return !!this.professor.firstName || !!this.professor.lastName;
  }

  private async createProfessor() {
    if (this.$refs["add-professor"].validate()) {
      try {
        this.isLoading = true;
        const professor = await createUser(this.professor);
        this.close();
        this.success(
          "Usuarios",
          "Se creo el usuario correctamente y se envio un correo para la confirmacion de su cuenta"
        );
        this.$emit("create", professor);
      } catch (error) {
        this.errorHandling(error);
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.add-dialog {
  border-top: 5px solid #00bcd4;

  .add-dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
  .add-dialog__title {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

.content {
  width: 400px;
}
</style>
