<template>
  <v-dialog
    v-if="value"
    :value="value"
    @input="close"
    width="auto"
    max-width="650"
    overlay-opacity="0.8"
    overlay-color="white"
  >
    <v-card class="pt-4 add-dialog">
      <v-card-title class="add-dialog__title">Modificar Docente</v-card-title>
      <v-card-text class="d-flex flex-wrap container pt-8">
        <v-avatar v-if="!hasName" color="white" size="130" class="mx-4 my-8">
          <v-icon light size="130">mdi-account-circle</v-icon>
        </v-avatar>
        <v-avatar v-else :color="getRandomColor" size="130" class="mx-4 my-8">
          <span class="white--text display-1"
            >{{ professor.firstName.toUpperCase()[0] }}{{ professor.lastName.toUpperCase()[0] }}</span
          >
        </v-avatar>
        <v-form ref="update-professor" lazy-validation>
          <div class="content">
            <v-row no-gutters>
              <v-col class="pr-2">
                <v-text-field
                  :rules="[rules.required]"
                  v-model="selectedProfessor.firstName"
                  color="primary"
                  label="Nombre"
                  @keydown.enter.prevent="updateProfessor"
                ></v-text-field>
              </v-col>
              <v-col class="pl-2">
                <v-text-field
                  :rules="[rules.required]"
                  v-model="selectedProfessor.lastName"
                  color="primary"
                  label="Apellido"
                  @keydown.enter.prevent="updateProfessor"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-text-field label="Cedula" v-model="selectedProfessor.ci" disabled></v-text-field>
            <v-text-field
              v-model="selectedProfessor.email"
              color="primary"
              label="Correo Electronico"
              disabled
            ></v-text-field>
            <v-select
              :rules="[rules.selectRule]"
              v-model="selectedProfessor.roles"
              :items="roles"
              item-value="value"
              item-text="text"
              label="Rol de Usuario"
              small-chips
              multiple
            ></v-select>
          </div>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click.native="close">Cerrar</v-btn>
            <v-btn dark class="ml-1 add-dialog__confirm" depressed :loading="isLoading" @click="updateProfessor">
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { RuleMixin } from "@/mixins/rules";
import { UtilitiesMixin } from "@/mixins/utilities";
import { NotificationMixin } from "@/mixins/notifications";
import { updateProfessor, removeRole } from "@/services/professors";
import { Professor } from "@/models/professor";

@Component({})
export default class UpdateProfessor extends Mixins(RuleMixin, UtilitiesMixin, NotificationMixin) {
  @Prop({ default: false }) value!: boolean;
  @Prop({ default: {} }) selectedProfessor!: Professor;

  $refs!: {
    "update-professor": HTMLFormElement;
  };

  private roles = [
    {
      text: "Profesor",
      value: "Professor"
    },
    {
      text: "Estudiante",
      value: "Student"
    }
  ];
  private isLoading = false;
  private professor: Professor = {
    firstName: "",
    lastName: "",
    email: "",
    password: "",
    ci: ""
  };

  private close() {
    this.$emit("input");
  }

  private get hasName(): boolean {
    return !!this.professor.firstName || !!this.professor.lastName;
  }

  private async updateProfessor() {
    if (this.$refs["update-professor"].validate()) {
      try {
        if (this.selectedProfessor.id) {
          this.isLoading = true;
          await updateProfessor(this.selectedProfessor.id, {
            firstName: this.selectedProfessor.firstName,
            lastName: this.selectedProfessor.lastName,
            email: this.selectedProfessor.email
          });
          await removeRole(this.selectedProfessor.id, this.selectedProfessor?.roles ?? []);
          this.close();
          this.success("Profesores", "El profesor se modifico correctamente");
          this.$emit("update", this.selectedProfessor);
        }
      } catch (error) {
        this.errorHandling(error);
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.add-dialog {
  border-top: 5px solid #00bcd4;

  .add-dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
  .add-dialog__title {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

.content {
  width: 400px;
}
</style>
