<template>
  <v-dialog
    v-if="value"
    :value="value"
    @input="close"
    width="auto"
    max-width="650"
    overlay-opacity="0.8"
    overlay-color="white"
  >
    <v-card class="pt-4 add-dialog">
      <v-card-title class="add-dialog__title">
        Agregar Administrador
      </v-card-title>
      <v-card-text class="d-flex flex-wrap container pt-8">
        <v-avatar v-if="!hasName" color="white" size="130" class="mx-4 my-8">
          <v-icon light size="130">mdi-account-circle</v-icon>
        </v-avatar>
        <v-avatar v-else :color="getRandomColor" size="130" class="mx-4 my-8">
          <span class="white--text display-1"
            >{{ administrator.firstName.toUpperCase()[0] }}{{ administrator.lastName.toUpperCase()[0] }}</span
          >
        </v-avatar>
        <v-form ref="add-administrator" lazy-validation>
          <div class="content pl-4">
            <v-row no-gutters>
              <v-col class="pr-2">
                <v-text-field
                  :rules="[rules.required]"
                  v-model="administrator.firstName"
                  color="primary"
                  label="Nombre"
                  @keydown.enter="createAdministrator"
                ></v-text-field>
              </v-col>
              <v-col class="pl-2">
                <v-text-field
                  :rules="[rules.required]"
                  v-model="administrator.lastName"
                  color="primary"
                  label="Apellido"
                  @keydown.enter="createAdministrator"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-text-field
              :rules="[rules.mail]"
              v-model="administrator.email"
              color="primary"
              label="Correo Electronico"
              @keydown.enter="createAdministrator"
            ></v-text-field>
            <v-text-field
              :append-icon="showPasswod ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.minPassword]"
              :type="showPasswod ? 'text' : 'password'"
              label="Contraseña"
              v-model="administrator.password"
              class="input-group--focused"
              @click:append="showPasswod = !showPasswod"
              @keydown.enter="createAdministrator"
            ></v-text-field>
          </div>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click="close">Cerrar</v-btn>
            <v-btn
              dark
              class="ml-1 add-dialog__confirm"
              depressed
              :loading="loading"
              @click.native="createAdministrator"
            >
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { RuleMixin } from "@/mixins/rules";
import { UtilitiesMixin } from "@/mixins/utilities";

@Component({})
export default class AddAdministrator extends Mixins(RuleMixin, UtilitiesMixin) {
  @Prop({ default: false }) value!: boolean;
  @Prop({ default: false }) loading!: boolean;

  private close() {
    this.$emit("input");
    this.administrator = {
      firstName: "",
      lastName: "",
      email: "",
      password: ""
    };
  }
  private showPasswod = false;

  private administrator = {
    firstName: "",
    lastName: "",
    email: "",
    password: ""
  };

  private get hasName(): boolean {
    return !!this.administrator.firstName || !!this.administrator.lastName;
  }

  $refs!: {
    "add-administrator": HTMLFormElement;
  };

  private createAdministrator() {
    if (this.$refs["add-administrator"].validate()) {
      const newAdministrator = {
        firstName: this.administrator.firstName,
        lastName: this.administrator.lastName,
        email: this.administrator.email,
        password: this.administrator.password
      };
      this.$emit("create", newAdministrator);
    }
  }
}
</script>

<style lang="scss" scoped>
.add-dialog {
  border-top: 5px solid #00bcd4;

  .add-dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
  .add-dialog__title {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

.content {
  width: 400px;
  align-self: center;
}
</style>
