<template>
  <v-dialog v-if="value" :value="value" @input="close" width="400px" overlay-opacity="0.8" overlay-color="white">
    <v-card class="pt-4 delete-dialog">
      <v-card-title class="delete-dialog__title">Cambiar contraseña</v-card-title>
      <v-card-text class="pt-8 px-12 text-center">
        <v-form ref="update-password-administrator" lazy-validation>
          <v-text-field
            label="Contraseña nueva"
            prepend-inner-icon="mdi-lock-outline"
            :append-icon="showNewPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showNewPassword ? 'text' : 'password'"
            @click:append="showNewPassword = !showNewPassword"
            :rules="[rules.required, rules.minPassword]"
            v-model="newPassword"
            @keydown.enter.prevent="changeAdministratorPassword"
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click.native="close">Cerrar</v-btn>
            <v-btn
              dark
              color="#09c78a"
              class="ml-1"
              :loading="isLoading"
              depressed
              @click.native="changeAdministratorPassword"
            >
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { RuleMixin } from "@/mixins/rules";
import { changeAdministratorPassword } from "@/services/administrators";
import { NotificationMixin } from "@/mixins/notifications";

@Component({})
export default class ChangePassword extends Mixins(RuleMixin, NotificationMixin) {
  @Prop({ default: false }) value!: boolean;
  @Prop({ default: "" }) administratorId!: string;
  @Prop({ default: "" }) university!: string;

  private showNewPassword = false;
  private isLoading = false;
  private newPassword = "";

  $refs!: {
    "update-password-administrator": HTMLFormElement;
  };

  private close() {
    this.$emit("input");
  }

  private async changeAdministratorPassword() {
    if (this.$refs["update-password-administrator"].validate()) {
      this.isLoading = true;
      try {
        await changeAdministratorPassword(
          {
            id: this.administratorId,
            newPassword: this.newPassword
          },
          this.university
        );
        this.success("ADMINISTRATOR", "La contraseña ha sido modificada correctamente");
        this.close();
      } catch (error) {
        this.errorHandling(error);
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.delete-dialog {
  border-top: 5px solid #444fee;

  .delete-dialog__title {
    justify-content: center;
    padding: 0;
  }
}
</style>
