<template>
  <v-dialog
    v-if="value"
    :value="value"
    @input="close"
    width="auto"
    max-width="600"
    overlay-opacity="0.8"
    overlay-color="white"
  >
    <v-card class="pt-4 add-dialog">
      <v-card-title class="add-dialog__title">
        Modificar Administrador
      </v-card-title>
      <v-card-text class="d-flex flex-wrap container pt-8">
        <div class="avatar-password">
          <div class="avatar">
            <v-avatar v-if="!hasName" color="white" size="130" class="mx-4 my-8">
              <v-icon light size="130">mdi-account-circle</v-icon>
            </v-avatar>
            <v-avatar v-else :color="getRandomColor" size="130" class="mx-4 my-8">
              <span class="white--text display-1"
                >{{ administratorData.firstName.toUpperCase()[0]
                }}{{ administratorData.lastName.toUpperCase()[0] }}</span
              >
            </v-avatar>
          </div>
          <v-btn
            class="password-button"
            depressed
            rounded
            color="primary"
            width="165px"
            height="40px"
            @click="changePasswordDialog = true"
          >
            <span style="font-size: 14px;"
              >Cambiar <br />
              contraseña</span
            >
          </v-btn>
        </div>
        <v-form ref="update-administrator" lazy-validation>
          <div class="content pl-4">
            <v-text-field
              :rules="[rules.required]"
              v-model="administratorData.firstName"
              color="primary"
              label="Nombre"
              style="padding-bottom: 8px;"
              prepend-icon="mdi-account"
              @keydown.enter="updateAdministrator"
            ></v-text-field>
            <v-text-field
              :rules="[rules.required]"
              v-model="administratorData.lastName"
              color="primary"
              style="padding-bottom: 8px;"
              label="Apellido"
              prepend-icon="mdi-account"
              @keydown.enter="updateAdministrator"
            ></v-text-field>
            <v-text-field
              :rules="[rules.mail]"
              v-model="administratorData.email"
              color="primary"
              disabled
              style="padding-bottom: 8px;"
              label="Correo Electronico"
              prepend-icon="mdi-email"
            ></v-text-field>
          </div>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click="close">Cerrar</v-btn>
            <v-btn
              dark
              class="ml-1 add-dialog__confirm"
              depressed
              @click.native="updateAdministrator"
              :loading="isLoading"
            >
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
    <change-password
      v-model="changePasswordDialog"
      :university="universityId"
      :administratorId="administratorData.id"
    />
  </v-dialog>
</template>

<script lang="ts">
import { Administrator } from "@/models/administrator";
import { Component, Mixins, Prop } from "vue-property-decorator";
import { RuleMixin } from "@/mixins/rules";
import { UtilitiesMixin } from "@/mixins/utilities";
import ChangePassword from "./ChangePassword.vue";
import { updateAdministrator } from "../../services/administrators";
import { NotificationMixin } from "../../mixins/notifications";

@Component({
  components: {
    ChangePassword
  }
})
export default class UpdateAdministrator extends Mixins(RuleMixin, UtilitiesMixin, NotificationMixin) {
  @Prop({ default: false }) value!: boolean;
  @Prop({ default: "" }) administratorData!: Administrator;
  @Prop({ default: "" }) universityId!: string;

  private changePasswordDialog = false;

  private isLoading = false;

  $refs!: {
    "update-administrator": HTMLFormElement;
  };

  private close() {
    this.$emit("input");
  }
  private showPasswod = false;

  private updatePasswordData: string = this.administratorData.id;

  private get hasName(): boolean {
    return !!this.administratorData.firstName || !!this.administratorData.lastName;
  }

  private async updateAdministrator() {
    if (this.$refs["update-administrator"].validate()) {
      try {
        this.isLoading = true;
        await updateAdministrator(
          {
            id: this.administratorData.id,
            firstName: this.administratorData.firstName,
            lastName: this.administratorData.lastName
          },
          this.universityId
        );
        this.$emit("updateAdministratorData", this.administratorData);
        this.success("ADMINISTRADOR", "El administrador se modifico correctamente");
        this.close();
      } catch (error) {
        this.errorHandling(error);
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.add-dialog {
  border-top: 5px solid #00bcd4;

  .add-dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
  .add-dialog__title {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
.container {
  justify-content: space-between;
  width: 540px;
}
.content {
  width: 250px;
  align-self: center;
}
.avatar-password {
  width: 200px;
  display: flex;
  flex-wrap: wrap;

  .avatar {
    position: relative;
    right: 10px;
    bottom: 25px;
  }

  .password-button {
    display: inline-block;
    position: relative;
    right: 9px;
    bottom: 25px;
  }
}
</style>
