<template>
  <div class="administrators">
    <v-row no-gutters justify="center">
      <v-col cols="12" sm="12" md="10" lg="10">
        <list @event="addDialog = true">
          <template slot="list">
            <transition name="scale-transition" mode="out-in">
              <div v-if="searchData.length != 0" class="list__overflow">
                <list-item v-for="(administrator, index) in searchData" :key="index">
                  <v-avatar slot="image" :color="getRandomColor" size="90" class="mx-4 my-8">
                    <span class="white--text display-1"
                      >{{ administrator.firstName.toUpperCase()[0] }}{{ administrator.lastName.toUpperCase()[0] }}</span
                    >
                  </v-avatar>
                  <template slot="content">
                    <v-card-title class="headline px-0">
                      {{ administrator.firstName }} {{ administrator.lastName }}
                    </v-card-title>
                    <v-card-subtitle class="px-0">
                      {{ administrator.email }}
                    </v-card-subtitle>
                  </template>
                  <template slot="actions">
                    <v-btn
                      class="mx-1"
                      color="warning"
                      depressed
                      dark
                      @click="
                        updateDialog = true;
                        setAdministrator(administrator, index);
                      "
                      >Editar</v-btn
                    >
                    <v-btn
                      class="mx-1"
                      color="error"
                      depressed
                      dark
                      @click="
                        deleteDialog = true;
                        setAdministrator(administrator, index);
                      "
                      >Eliminar</v-btn
                    >
                  </template>
                </list-item>
              </div>
              <no-data v-else key="no-data" :loading="isLoading" />
            </transition>
          </template>
        </list>
      </v-col>
    </v-row>
    <add-dialog v-if="addDialog" v-model="addDialog" @create="createAdministrator" />
    <update-dialog
      v-model="updateDialog"
      :administratorData="{ ...this.selectedAdministrator }"
      @updateAdministratorData="updateAdministrator"
      :universityId="universityId"
    />
    <delete-dialog v-model="deleteDialog" type="Administrator" @confirm="deleteAdministrator" />
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import List from "@/components/List/List.vue";
import ListItem from "@/components/List/ListItem.vue";
import NoData from "@/components/List/NoData.vue";
import AddDialog from "@/components/Administrators/AddAdministrator.vue";
import UpdateDialog from "@/components/Administrators/UpdateAdministrator.vue";
import DeleteDialog from "@/components/Dialogs/Delete.vue";
import { SearchMixin } from "@/mixins/search";
import { NotificationMixin } from "@/mixins/notifications";
import { UtilitiesMixin } from "@/mixins/utilities";
import { Administrator } from "@/models/administrator";
import { createAdministrator, getAdministrators, deleteAdministrator } from "@/services/administrators";
import UserModule from "@/store/modules/user";

@Component({
  components: {
    List,
    ListItem,
    NoData,
    AddDialog,
    UpdateDialog,
    DeleteDialog
  }
})
export default class Administrators extends Mixins(SearchMixin, NotificationMixin, UtilitiesMixin) {
  private addDialog = false;
  private updateDialog = false;
  private deleteDialog = false;
  private isLoading = false;

  private administrators: Administrator[] = [];

  private selectedAdministrator: Administrator = {
    id: "",
    name: "",
    firstName: "",
    lastName: "",
    password: "",
    email: ""
  };
  private selectedIndex = 0;

  private created() {
    this.isLoading = true;
    this.getAdministrators().then(() => {
      this.isLoading = false;
    });
  }

  private setAdministrator(administrator: Administrator, index: number) {
    this.selectedAdministrator = administrator;
    this.selectedIndex = index;
  }

  private async createAdministrator(administrator: Administrator) {
    try {
      const response = await createAdministrator(administrator, this.universityId);
      this.searchData.unshift(response);
      this.addDialog = false;
      this.success("Administradores", "Se creo el administrador correctamente");
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async deleteAdministrator() {
    try {
      await deleteAdministrator(this.selectedAdministrator.id, this.universityId);
      this.searchData.splice(this.selectedIndex, 1);
      this.deleteDialog = false;
      this.success("Administradores", "Se elimino el administrador correctamente");
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async getAdministrators() {
    try {
      this.administrators = await getAdministrators();
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private get searchData() {
    return this.filterData(this.administrators);
  }

  private get universityId() {
    return UserModule.user ? UserModule.user.Tenant : "";
  }

  private updateAdministrator(administrator: Administrator) {
    this.searchData[this.selectedIndex] = administrator;
  }
}
</script>

<style lang="scss" scoped>
.administrators {
  padding: 2rem;
}
.alert {
  background: linear-gradient(90deg, #4caf78, #4caf86);
  box-shadow: 0 0 3px 0 #4caf78 !important;
}
.content {
  width: 350px;
}
</style>
