<template>
  <div class="courses">
    <v-row no-gutters justify="center">
      <v-col cols="12" sm="12" md="10" lg="10">
        <list :disabled="true">
          <template slot="list">
            <transition name="scale-transition" mode="out-in">
              <div v-if="searchData.length != 0" class="list_overflow">
                <list-item v-for="(course, index) in searchData" :key="index">
                  <v-avatar slot="image" class="ma-3" size="72" tile color="#fff">
                    <v-icon size="52">mdi-book-variant</v-icon>
                  </v-avatar>
                  <template slot="content">
                    <v-card-title class="headline px-0">{{ course.name }}</v-card-title>
                  </template>
                  <v-chip slot="online" color="green" outlined label style="margin-bottom: 20px;">
                    <span class="online"></span>
                    {{ course.validateWithBedelia ? "Requiere Bedelias" : "No requiere Bedelias" }}
                  </v-chip>
                  <v-chip slot="online" color="green" outlined label style="margin-bottom: 20px; margin-left: 6px;">
                    <span class="online"></span>
                    {{ course.isRemote ? "Remoto" : "Presencial" }}
                  </v-chip>
                  <template slot="actions">
                    <v-btn
                      class="px-3 py-6"
                      color="primary"
                      depressed
                      dark
                      @click="
                        notesDialog = true;
                        setCourse(course);
                      "
                      >Cierre <br />
                      de actas</v-btn
                    >
                  </template>
                </list-item>
              </div>
              <no-data v-else key="no-data" :loading="isLoading" />
            </transition>
          </template>
        </list>
      </v-col>
    </v-row>
    <v-dialog v-if="notesDialog" v-model="notesDialog" :width="showCalifications ? '900px' : '500px'">
      <v-card class="pt-4 notes-dialog">
        <v-card-title class="notes-dialog__title">
          Cierre de Notas
        </v-card-title>
        <v-card-text v-if="showCalifications" class="pa-5 pt-5">
          <v-data-table
            :items-per-page="10"
            class="elevation-0 px-12"
            height="60vh"
            :headers="headers"
            :items="courseCalifications"
          >
            <template v-slot:no-data>
              <no-data :isLoading="isLoading"></no-data>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-text v-else class="pa-5 pt-5">
          Esta seguro de querer cerrar las notas para este curso?
        </v-card-text>
        <v-card-actions>
          <v-row no-gutters>
            <v-col cols="12" class="text-end">
              <v-btn text class="mr-1" @click="close">Cerrar</v-btn>
              <v-btn
                v-if="!showCalifications"
                dark
                class="ml-1 add-dialog__confirm"
                color="success"
                depressed
                :loading="isLoading"
                @click.native="closeCalifications"
              >
                Confirmar
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import List from "@/components/List/List.vue";
import ListItem from "@/components/List/ListItem.vue";
import NoData from "@/components/List/NoData.vue";
import { SearchMixin } from "@/mixins/search";
import { NotificationMixin } from "@/mixins/notifications";
import { Course } from "@/models/course";
import { getCourses } from "@/services/courses";
import { closeCalifications } from "@/services/califications";
import UserModule from "@/store/modules/user";
import { Calification } from "@/models/califications";

@Component({
  components: {
    List,
    ListItem,
    NoData
  }
})
export default class Courses extends Mixins(SearchMixin, NotificationMixin) {
  private notesDialog = false;
  private isLoading = false;
  private courses: Course[] = [];
  private selectedCourse: Course = {
    id: "",
    name: "",
    validateWithBedelia: false,
    isRemote: false
  };
  private courseCalifications: Calification[] = [];
  private showCalifications = false;

  private headers: { text: string; align: string; value: string }[] = [];

  private setCourse(course: Course) {
    this.selectedCourse = course;
  }

  private get universityId() {
    return UserModule.user ? UserModule.user.Tenant : "";
  }

  private created() {
    this.isLoading = true;
    this.getCourses().then(() => {
      this.isLoading = false;
    });
  }

  private close() {
    this.showCalifications = false;
    this.notesDialog = false;
  }

  private get searchData() {
    return this.filterData(this.courses);
  }

  private async getCourses() {
    try {
      this.courses = await getCourses(this.universityId);
    } catch (error) {
      this.errorHandling(error);
    }
  }
  private async closeCalifications() {
    try {
      this.isLoading = true;
      this.courseCalifications = await closeCalifications(this.selectedCourse.id);
      this.isLoading = false;
      this.headers = [
        { text: "CI", align: "start", value: "student.ci" },
        { text: "Nombre", align: "start", value: "student.firstName" },
        { text: "Apellido", align: "start", value: "student.lastName" },
        { text: "Correo Electronico", align: "start", value: "student.email" },
        { text: "Calificacion", align: "start", value: "score" }
      ];
      this.showCalifications = true;
      this.success("Curso", "Se han cerrado el acta correctamente");
    } catch (error) {
      this.errorHandling(error);
    }
  }
}
</script>

<style lang="scss" scoped>
.courses {
  padding: 2rem;
}
.alert {
  background: linear-gradient(90deg, #4caf78, #4caf86);
  box-shadow: 0 0 3px 0 #4caf78 !important;
}

.content {
  width: 550px;
}

.notes-dialog {
  border-top: 5px solid #00bcd4;

  .notes-dialog__title {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
</style>
