<template>
  <div class="carrers">
    <v-row no-gutters justify="center">
      <v-col cols="12" sm="12" md="10" lg="10">
        <list @event="addCareerDialog = true">
          <template slot="list">
            <transition name="scale-transition" mode="out-in">
              <div v-if="searchData.length != 0" class="list__overflow">
                <list-item v-for="(career, index) in searchData" :key="index">
                  <v-avatar slot="image" class="ma-3" size="72" tile color="#fff">
                    <v-icon size="52">mdi-library</v-icon>
                  </v-avatar>
                  <v-card-title slot="content" class="headline px-0">{{ career.name }}</v-card-title>
                  <template slot="actions">
                    <v-btn
                      class="mx-1"
                      color="warning"
                      depressed
                      dark
                      @click="
                        updateCareerDialog = true;
                        setCareer(career, index);
                      "
                      >Modificar</v-btn
                    >
                    <v-btn
                      class="mx-1"
                      color="error"
                      depressed
                      dark
                      @click="
                        deleteDialog = true;
                        setCareer(career, index);
                      "
                      >Eliminar</v-btn
                    >
                  </template>
                </list-item>
              </div>
              <no-data v-else key="no-data" :loading="isLoading" />
            </transition>
          </template>
        </list>
      </v-col>
    </v-row>
    <add-career v-if="addCareerDialog" v-model="addCareerDialog" @create="addCareer"></add-career>
    <update-career
      v-if="updateCareerDialog"
      v-model="updateCareerDialog"
      :selectedCareer="{ ...selectedCareer }"
      @update="updateCareer"
    ></update-career>
    <delete-dialog v-model="deleteDialog" type="Carrera" @confirm="deleteCareer" />
  </div>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import List from "@/components/List/List.vue";
import ListItem from "@/components/List/ListItem.vue";
import NoData from "@/components/List/NoData.vue";
import DeleteDialog from "@/components/Dialogs/Delete.vue";
import AddCareer from "@/components/Careers/AddCareer.vue";
import UpdateCareer from "@/components/Careers/UpdateCareer.vue";
import { SearchMixin } from "@/mixins/search";
import { NotificationMixin } from "@/mixins/notifications";
import { Career } from "@/models/career";
import { getCareers, deleteCareer } from "@/services/careers";
import UserModule from "@/store/modules/user";

@Component({
  components: {
    List,
    ListItem,
    NoData,
    AddCareer,
    DeleteDialog,
    UpdateCareer
  }
})
export default class Careers extends Mixins(SearchMixin, NotificationMixin) {
  private isLoading = false;
  private carrers: Career[] = [];
  private addCareerDialog = false;
  private deleteDialog = false;
  private updateCareerDialog = false;
  private selectedCareer: Career = {
    id: "",
    name: ""
  };
  private selectedCareerIndex = -1;

  private created() {
    this.isLoading = true;

    this.getCarrers().then(() => {
      this.isLoading = false;
    });
  }

  private get searchData() {
    return this.filterData(this.carrers);
  }

  private setCareer(career: Career, index: number) {
    this.selectedCareer = career;
    this.selectedCareerIndex = index;
  }

  private get universityId() {
    return UserModule.user?.Tenant ?? "";
  }

  private async getCarrers() {
    try {
      this.carrers = await getCareers(this.universityId);
    } catch (error) {
      this.errorHandling(error);
    }
  }
  private async deleteCareer() {
    try {
      await deleteCareer(this.selectedCareer.id);
      this.searchData.splice(this.selectedCareerIndex, 1);
      this.deleteDialog = false;
      this.success("Carreras", "Se elimino la carrera correctamente");
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private addCareer(career: Career) {
    this.searchData.unshift(career);
  }

  private updateCareer(career: Career) {
    this.searchData[this.selectedCareerIndex] = career;
  }
}
</script>

<style lang="scss" scoped>
.carrers {
  padding: 2rem;
}
.alert {
  background: linear-gradient(90deg, #4caf78, #4caf86);
  box-shadow: 0 0 3px 0 #4caf78 !important;
}
</style>
