<template>
  <div class="courses">
    <v-row no-gutters justify="center">
      <v-col cols="12" sm="12" md="10" lg="10">
        <list @event="addDialog = true">
          <template slot="list">
            <transition name="scale-transition" mode="out-in">
              <div v-if="searchData.length != 0" class="list_overflow">
                <list-item v-for="(course, index) in searchData" :key="index">
                  <v-avatar slot="image" class="ma-3" size="72" tile color="#fff">
                    <v-icon size="52">mdi-book-variant</v-icon>
                  </v-avatar>
                  <template slot="content">
                    <v-card-title class="headline px-0">{{ course.name }}</v-card-title>
                  </template>
                  <v-chip slot="online" color="green" outlined label style="margin-bottom: 20px;">
                    <span class="online"></span>
                    {{ course.validateWithBedelia ? "Requiere Bedelias" : "No requiere Bedelias" }}
                  </v-chip>
                  <v-chip slot="online" color="green" outlined label style="margin-bottom: 20px; margin-left: 6px;">
                    <span class="online"></span>
                    {{ course.isRemote ? "Remoto" : "Presencial" }}
                  </v-chip>
                  <template slot="actions">
                    <v-btn
                      class="mx-1"
                      color="warning"
                      depressed
                      dark
                      @click="
                        updateDialog = true;
                        setCourse(course, index);
                      "
                      >Editar</v-btn
                    >
                    <v-btn
                      class="mx-1"
                      color="secondary"
                      depressed
                      dark
                      @click="
                        noticeDialog = true;
                        setCourse(course, index);
                      "
                      >Comunicado</v-btn
                    >
                    <v-btn
                      class="mx-1"
                      color="error"
                      depressed
                      dark
                      @click="
                        deleteDialog = true;
                        setCourse(course, index);
                      "
                      >Eliminar</v-btn
                    >
                  </template>
                </list-item>
              </div>
              <no-data v-else key="no-data" :loading="isLoading" />
            </transition>
          </template>
        </list>
      </v-col>
    </v-row>
    <add-dialog v-if="addDialog" v-model="addDialog" @create="createCourse"> </add-dialog>
    <update-dialog v-if="updateDialog" v-model="updateDialog" :course="{ ...selectedCourse }" @update="updateCourse">
    </update-dialog>
    <delete-dialog v-model="deleteDialog" type="Curso" @confirm="deleteCourse"> </delete-dialog>
    <v-dialog v-if="noticeDialog" v-model="noticeDialog" width="925px">
      <v-card class="pt-4 add-dialog">
        <v-card-title class="add-dialog__title">
          Publicar Comunicado
        </v-card-title>
        <v-card-text class="pa-5">
          <publish-notice
            :isUdelar="false"
            :courseId="selectedCourse.id"
            v-if="noticeDialog"
            v-model="noticeDialog"
          ></publish-notice>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import List from "@/components/List/List.vue";
import ListItem from "@/components/List/ListItem.vue";
import NoData from "@/components/List/NoData.vue";
import AddDialog from "@/components/Courses/AddCourses.vue";
import UpdateDialog from "@/components/Courses/UpdateCourse.vue";
import DeleteDialog from "@/components/Dialogs/Delete.vue";
import PublishNotice from "@/components/University/Notices/PublishNotice.vue";
import { SearchMixin } from "@/mixins/search";
import { NotificationMixin } from "@/mixins/notifications";
import { CreateCourse, Course } from "@/models/course";
import { getCourses, createCourse, deleteCourse } from "@/services/courses";
import UserModule from "@/store/modules/user";

@Component({
  components: {
    List,
    ListItem,
    NoData,
    AddDialog,
    UpdateDialog,
    DeleteDialog,
    PublishNotice
  }
})
export default class Courses extends Mixins(SearchMixin, NotificationMixin) {
  private addDialog = false;
  private updateDialog = false;
  private deleteDialog = false;
  private noticeDialog = false;
  private isLoading = false;
  private courses: Course[] = [];
  private selectedCourse: Course = {
    id: "",
    name: "",
    validateWithBedelia: false,
    isRemote: false
  };
  private selectedIndex = 0;

  private setCourse(course: Course, index: number) {
    this.selectedCourse = course;
    this.selectedIndex = index;
  }

  private created() {
    this.isLoading = true;
    this.getCourses().then(() => {
      this.isLoading = false;
    });
  }

  private get searchData() {
    return this.filterData(this.courses);
  }

  private async createCourse(course: CreateCourse) {
    try {
      const response = await createCourse(course);
      this.searchData.unshift(response);
      this.success("Curso", "Se creo el curso correctamente");
      this.addDialog = false;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async getCourses() {
    try {
      this.courses = await getCourses(this.universityId);
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private get universityId() {
    return UserModule.user ? UserModule.user.Tenant : "";
  }

  private async deleteCourse() {
    try {
      await deleteCourse(this.selectedCourse.id);
      this.searchData.splice(this.selectedIndex, 1);
      this.success("Curso", "Se elimino el curso correctamente");
      this.deleteDialog = false;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private updateCourse(course: Course) {
    this.searchData[this.selectedIndex] = course;
  }
}
</script>

<style lang="scss" scoped>
.courses {
  padding: 2rem;
}
.alert {
  background: linear-gradient(90deg, #4caf78, #4caf86);
  box-shadow: 0 0 3px 0 #4caf78 !important;
}

.content {
  width: 550px;
}

.add-dialog {
  border-top: 5px solid #00bcd4;

  .add-dialog__title {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
</style>
