<template>
  <div class="login">
    <v-img
      alt="Logo"
      contain
      :src="require('./../assets/images/logo.jpg')"
      transition="scale-transition"
      width="128"
      class="login__logo"
    />
    <v-img
      alt="Waves"
      contain
      :src="require('./../assets/images/login-image.svg')"
      transition="scale-transition"
      class="login__waves"
    />
    <login-form />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import LoginForm from "@/components/Login/LoginForm.vue";

@Component({
  components: {
    LoginForm
  }
})
export default class Login extends Vue {}
</script>

<style scoped lang="scss">
.login {
  height: 100vh;
  display: flex;

  .login__logo {
    position: absolute;
    margin: 1rem;
  }

  .login__waves {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 45%;
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .login {
    .login__logo {
      width: 100px !important;
      z-index: 10;
      margin: 0;
    }
    .login__waves {
      z-index: 10;
    }
  }
}
</style>
