<template>
  <div class="professors">
    <v-row no-gutters justify="center">
      <v-col cols="12" sm="12" md="10" lg="10">
        <list @event="addDialog = true" @search="getProfessors" :paginateUsers="true">
          <template slot="list">
            <transition name="scale-transition" mode="out-in">
              <div v-if="searchData.length != 0" class="list__overflow">
                <list-item v-for="(professor, index) in searchData" :key="index">
                  <v-avatar slot="image" :color="getRandomColor" size="90" class="mx-4 my-8">
                    <span class="white--text display-1"
                      >{{ professor.firstName.toUpperCase()[0] }}{{ professor.lastName.toUpperCase()[0] }}</span
                    >
                  </v-avatar>
                  <template slot="content">
                    <v-card-title class="headline px-0"
                      >{{ professor.firstName }} {{ professor.lastName }}</v-card-title
                    >
                    <v-card-subtitle class="px-0">{{ professor.email }}</v-card-subtitle>
                  </template>
                  <v-chip
                    v-for="role in professor.roles"
                    :key="role"
                    class="mb-2 ml-2"
                    slot="online"
                    color="green"
                    outlined
                    label
                  >
                    {{ role == "Professor" ? "Profesor" : "Estudiante" }}
                  </v-chip>
                  <template slot="actions">
                    <v-btn
                      class="mx-1"
                      color="warning"
                      depressed
                      dark
                      @click="
                        updateDialog = true;
                        setProfessor(professor, index);
                      "
                      >Editar</v-btn
                    >
                    <v-btn
                      class="mx-1"
                      color="error"
                      depressed
                      dark
                      @click="
                        deleteDialog = true;
                        setProfessor(professor, index);
                      "
                      >Eliminar</v-btn
                    >
                  </template>
                </list-item>
              </div>
              <no-data v-else key="no-data" :loading="isLoading" />
            </transition>
          </template>
        </list>
        <div class="text-center" v-if="searchData.length != 0">
          <v-pagination
            color="secondary"
            v-model="page"
            @input="getUserPage"
            total-visible="5"
            :length="pageLength"
          ></v-pagination>
        </div>
      </v-col>
    </v-row>
    <add-dialog v-if="addDialog" v-model="addDialog" @create="addProfessor"></add-dialog>
    <update-dialog
      v-if="updateDialog"
      v-model="updateDialog"
      @create="addProfessor"
      :selectedProfessor="{ ...selectedProfessor }"
      @update="updateProfessor"
    ></update-dialog>
    <delete-dialog v-model="deleteDialog" type="Profesor" @confirm="deleteProfessor" />
  </div>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import List from "@/components/List/List.vue";
import ListItem from "@/components/List/ListItem.vue";
import NoData from "@/components/List/NoData.vue";
import DeleteDialog from "@/components/Dialogs/Delete.vue";
import AddDialog from "@/components/Professors/AddProfessor.vue";
import UpdateDialog from "@/components/Professors/UpdateProfessor.vue";
import { SearchMixin } from "@/mixins/search";
import { UtilitiesMixin } from "@/mixins/utilities";
import { NotificationMixin } from "@/mixins/notifications";
import { Professor } from "@/models/professor";
import { getUsers, removeUser } from "@/services/users";

@Component({
  components: {
    List,
    ListItem,
    AddDialog,
    NoData,
    DeleteDialog,
    UpdateDialog
  }
})
export default class Professors extends Mixins(SearchMixin, UtilitiesMixin, NotificationMixin) {
  private page = 1;
  private limit = 3;
  private count = 0;
  private addDialog = false;
  private isLoading = false;
  private deleteDialog = false;
  private updateDialog = false;
  private selectedIndex = -1;
  private selectedProfessor: Professor = {
    id: "",
    firstName: "",
    lastName: "",
    email: "",
    password: "",
    ci: "",
    roles: []
  };
  private professors: Professor[] = [];

  private created() {
    this.isLoading = true;

    this.getProfessors().then(() => {
      this.isLoading = false;
    });
  }

  private get searchData() {
    return this.filterData(this.professors);
  }

  private get pageLength(): number {
    return this.count > this.limit ? Math.ceil(this.count / this.limit) : 1;
  }

  private setProfessor(professor: Professor, index: number) {
    this.selectedProfessor = professor;
    this.selectedIndex = index;
  }

  private getUserPage() {
    this.professors = [];
    this.isLoading = true;
    this.getProfessors().then(() => {
      this.isLoading = false;
    });
  }

  private async getProfessors() {
    try {
      const response = await getUsers({ page: this.page, limit: this.limit, user: this.search });
      this.professors = response.userList;
      this.count = response.count;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async deleteProfessor() {
    try {
      if (this.selectedProfessor.roles && this.selectedProfessor.id) {
        const index = this.selectedProfessor.roles.indexOf("Professor");
        if (index != -1) this.selectedProfessor.roles.splice(index, 1);
        await removeUser(this.selectedProfessor.id);
        this.searchData.splice(this.selectedIndex, 1);
        this.deleteDialog = false;
        this.success("Profesores", "Se elimino el profesor correctamente");
      }
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private addProfessor(professor: Professor) {
    this.searchData.unshift(professor);
  }

  private updateProfessor(professor: Professor) {
    this.searchData[this.selectedIndex] = professor;
  }

  private get search() {
    return this.$store.state.search;
  }
}
</script>

<style lang="scss" scoped>
.professors {
  padding: 2rem;
}
.alert {
  background: linear-gradient(90deg, #4caf78, #4caf86);
  box-shadow: 0 0 3px 0 #4caf78 !important;
}
</style>
