<template>
  <div class="reports">
    <v-card class="report-card">
      <v-tabs v-model="tab" fixed-tabs>
        <v-tabs-slider></v-tabs-slider>
        <v-tab v-for="tab in tabs" :key="tab.name" :href="`#tab-${tab.name}`">
          {{ tab.name }}
        </v-tab>

        <v-tab-item value="tab-Graficas" class="pt-10">
          <div class="d-flex flex-wrap pa-4" style="align-items: center;">
            <v-select
              class="px-12"
              :items="graphicsReports"
              v-model="graphicReport"
              @change="changeReport(false)"
              label="Facultades"
            ></v-select>
            <v-select
              v-if="graphicReport == 'Resultados de cursos' || graphicReport == 'Información estadística de cursos'"
              :items="courses"
              item-text="name"
              item-value="id"
              v-model="selectedCourseId"
              label="Cursos"
              style="max-width: 350px!important;"
              @change="setSelectedCourseForGraphic(selectedCourseId)"
            ></v-select>
            <v-btn class="mx-5" depressed color="secondary" disabled>
              <v-icon dark class="mr-2">mdi-cloud-download</v-icon>
              Descargar
            </v-btn>
          </div>
          <div class="chart-wrapper mt-12">
            <div class="chart mr-12">
              <pie-chart
                style="height: 450px !important; width: 450px !important;"
                v-if="
                  (selectedCourseId && graphicReport == 'Resultados de cursos') ||
                    graphicReport == 'Información estadística de cursos' ||
                    graphicReport == 'Información estadística de facultades'
                "
                :chartData="dataPieChart"
              />
            </div>
            <div class="chart ml-12">
              <bar-chart
                style="height: 450px !important; width: 450px !important;"
                v-if="
                  graphicReport == 'Información estadística de facultades' ||
                    'Información estadística de cursos' ||
                    'Resultados de cursos'
                "
                :chartData="dataBarChart"
              />
            </div>
          </div>
        </v-tab-item>

        <v-tab-item value="tab-Tablas" class="pt-10">
          <div class="d-flex flex-wrap pa-4" style="align-items: center;">
            <v-select
              class="px-12"
              :items="tablesReports"
              v-model="tableReport"
              @change="changeReport(true)"
              label="Facultades"
            ></v-select>
            <v-select
              v-if="tableReport == 'Listados de cursos por facultades'"
              :items="universities"
              item-text="name"
              item-value="id"
              v-model="selectedUniversityId"
              label="Facultades"
              style="max-width: 350px!important;"
              @change="setSelectedUniversityForTable(selectedUniversityId)"
            ></v-select>
            <v-select
              v-if="tableReport == 'Resultados de cursos'"
              :items="courses"
              item-text="name"
              item-value="id"
              v-model="selectedCourseId"
              label="Cursos"
              style="max-width: 350px!important;"
              @change="setSelectedCourseForTable(selectedCourseId)"
            ></v-select>
            <v-btn class="mx-5" depressed color="secondary" disabled>
              <v-icon dark class="mr-2">mdi-cloud-download</v-icon>
              Descargar
            </v-btn>
          </div>

          <v-data-table
            v-if="
              tableReport != 'Información estadística de cursos' ||
                tableReport != 'Información estadística de facultades'
            "
            :items-per-page="10"
            class="elevation-0 px-12"
            height="60vh"
            :headers="headers"
            :items="items"
          >
            <template v-slot:no-data>
              <no-data :isLoading="isLoading"></no-data>
            </template>
            <template v-slot:[`item.isRemote`]="{ item }">
              <v-chip v-if="item.isRemote" class="ma-2" color="primary">
                Remoto
              </v-chip>
              <v-chip v-else class="ma-2" color="secondary">
                Presencial
              </v-chip>
            </template>
            <template v-slot:[`item.validateWithBedelia`]="{ item }">
              <v-chip v-if="item.validateWithBedelia" class="ma-2" color="green" text-color="white">
                Requiere Validacion
              </v-chip>
              <v-chip v-else class="ma-2" color="red" text-color="white">
                No Requiere Validacion
              </v-chip>
            </template>
          </v-data-table>

          <v-data-table
            v-else
            :items-per-page="10"
            class="elevation-0 px-12"
            height="60vh"
            :headers="headers"
            :items="items"
          >
            <template v-slot:no-data>
              <no-data :isLoading="isLoading"></no-data>
            </template>
          </v-data-table>
        </v-tab-item>
      </v-tabs>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import NoData from "@/components/List/NoData.vue";
import { getUniversities } from "@/services/universities";
import { getCourses } from "@/services/courses";
import { getCalifications } from "@/services/califications";
import { getSubjectEnrollments, getUniversityUsers } from "@/services/reports";
import { NotificationMixin } from "@/mixins/notifications";
import UserModule from "@/store/modules/user";
import PieChart from "@/components/Reports/PieChart.vue";
import BarChart from "@/components/Reports/BarChart.vue";
import { Course } from "@/models/course";
import { University } from "@/models/university";
@Component({
  components: {
    NoData,
    PieChart,
    BarChart
  }
})
export default class Reports extends Mixins(NotificationMixin) {
  private isLoading = false;
  private showPieChart = false;

  private tableReport = "";
  private graphicReport = "";

  private tablesReports: string[] = [];
  private graphicsReports: string[] = [];

  private selectedCourseId = "";
  private selectedUniversityId = "";

  private dataPieChart = {};
  private dataBarChart = {};

  private headers: { text: string; align: string; value: string }[] = [];
  private items: unknown = [];

  private courses: Course[] = [];
  private universities: University[] = [];

  private tab = null;
  private tabs = [
    {
      name: "Graficas",
      icon: "mdi-bullhorn-outline"
    },
    {
      name: "Tablas",
      icon: "mdi-account-supervisor"
    }
  ];

  private created() {
    this.setupReports();
  }

  private async setSelectedCourseForTable(selectedCourseId: string) {
    this.selectedCourseId = selectedCourseId;
    await this.getCalifications();
  }

  private setSelectedCourseForGraphic(selectedCourseId: string) {
    this.selectedCourseId = selectedCourseId;
    if (this.isUdelar) {
      const selectedCourse = (this.items as any[]).find(item => {
        return item.id == selectedCourseId;
      });
      console.log(selectedCourse);

      this.dataBarChart = {
        labels: ["Total Profesores", "Total Alumnos"],
        datasets: [
          {
            label: selectedCourse.universityName + " - " + selectedCourse.name,
            backgroundColor: ["#6473de88", "#6473de88"],
            data: [selectedCourse.professorsQuantity, selectedCourse.studentsQuantity]
          }
        ]
      };
    } else {
      this.getCalifications().then(() => {
        if (Array.isArray(this.items)) {
          const approved = this.items.filter(calification => {
            return calification.score >= 60;
          });
          const notApproved = this.items.filter(calification => {
            return calification.score < 60;
          });
          if (approved.length == 0 && notApproved.length == 0) {
            this.dataPieChart = {
              labels: ["Datos insuficientes"],
              datasets: [
                {
                  backgroundColor: ["#BDBDBD"],
                  data: [100]
                }
              ]
            };
          } else {
            this.dataPieChart = {
              labels: ["Aprobados", "Reprobados"],
              datasets: [
                {
                  backgroundColor: ["#42A5F5", "#F4511E"],
                  data: [approved.length, notApproved.length]
                }
              ]
            };
            this.dataBarChart = {
              labels: [""],
              datasets: [
                {
                  label: "Aprobados",
                  backgroundColor: "#42A5F5",
                  data: [approved.length]
                },
                {
                  label: "Reprobados",
                  backgroundColor: "#F4511E",
                  data: [notApproved.length]
                }
              ]
            };
          }
        }
      });
    }

    this.showPieChart = true;
  }

  private setSubjectEnrollmentsData() {
    this.getSubjectEnrollments().then(() => {
      if (Array.isArray(this.items)) {
        let professorsQuantity = 0;
        this.items.forEach(item => {
          professorsQuantity += item.professorsQuantity;
        });
        let studentsQuantity = 0;
        this.items.forEach(item => {
          studentsQuantity += item.studentsQuantity;
        });

        this.courses = this.items.map(item => {
          return { id: item.id, name: item.name, validateWithBedelia: false, isRemote: false };
        });

        if (professorsQuantity == 0 && studentsQuantity == 0) {
          this.dataPieChart = {
            labels: ["Datos insuficientes"],
            datasets: [
              {
                backgroundColor: ["#BDBDBD"],
                data: [100]
              }
            ]
          };
        } else {
          this.dataPieChart = {
            labels: ["Total Profesores", "Total Alumnos"],
            datasets: [
              {
                backgroundColor: ["#2196f388", "#45b39a88"],
                data: [professorsQuantity, studentsQuantity]
              }
            ]
          };
          this.dataBarChart = {
            labels: ["Total Profesores", "Total Alumnos"],
            datasets: [
              {
                label: "Total",
                backgroundColor: ["#6473de88", "#6473de88"],
                data: [professorsQuantity, studentsQuantity]
              }
            ]
          };
        }
      }
    });
  }

  private setUniversityUsersData() {
    this.getUniversityUsers().then(() => {
      if (Array.isArray(this.items)) {
        let professorsQuantity = 0;
        this.items.forEach(item => {
          professorsQuantity += item.professorsQuantity;
        });
        let studentsQuantity = 0;
        this.items.forEach(item => {
          studentsQuantity += item.studentsQuantity;
        });

        const professorsData = this.items.map(item => {
          return item.professorsQuantity;
        });

        const studentsData = this.items.map(item => {
          return item.studentsQuantity;
        });

        const universitiesLabels = this.items.map(item => {
          return item.name;
        });

        const professorsBackground = this.items.map(item => {
          return "#00dbdb";
        });

        const studentsBackground = this.items.map(item => {
          return "#eadf50";
        });

        this.dataBarChart = {
          labels: universitiesLabels,
          datasets: [
            {
              label: "Profesores",
              backgroundColor: professorsBackground,
              data: professorsData
            },
            {
              label: "Estudiantes",
              backgroundColor: studentsBackground,
              data: studentsData
            }
          ]
        };

        this.dataPieChart = {
          labels: ["Profesores", "Alumnos"],
          datasets: [
            {
              backgroundColor: ["#f5d74678", "#619d4b78"],
              data: [professorsQuantity, studentsQuantity]
            }
          ]
        };
      }
    });
  }

  private async setSelectedUniversityForTable(selectedUniversityId: string) {
    if (selectedUniversityId) {
      this.selectedUniversityId = selectedUniversityId;
      await this.getCourses();
    }
  }

  private setupReports() {
    if (this.isUdelar) {
      this.tableReport = "Información estadística de cursos";
      this.tablesReports = [
        "Información estadística de cursos",
        "Listados de facultades",
        "Listados de cursos por facultades",
        "Información estadística de facultades"
      ];
      this.graphicReport = "Información estadística de cursos";
      this.graphicsReports = ["Información estadística de cursos", "Información estadística de facultades"];
    } else {
      this.tableReport = "Información estadística de cursos";
      this.tablesReports = ["Información estadística de cursos", "Resultados de cursos", "Listado de cursos"];
      this.graphicReport = "Información estadística de cursos";
      this.graphicsReports = ["Información estadística de cursos", "Resultados de cursos"];
    }
    this.getSubjectEnrollments().then(() => {
      this.setSubjectEnrollmentsData();
    });
  }

  private get isUdelar() {
    return UserModule.userRole === "UdelarAdmin";
  }

  private get universityId() {
    return UserModule.user ? UserModule.user.Tenant : "";
  }

  private async getUniversities() {
    try {
      this.universities = await getUniversities();
      this.headers = [
        { text: "ID", align: "start", value: "id" },
        { text: "Nombre", align: "start", value: "name" },
        { text: "Direccion", align: "start", value: "accessPath" }
      ];
      this.items = this.universities;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async getCourses() {
    try {
      if (this.isUdelar && this.tableReport == "Listados de cursos por facultades") {
        this.courses = await getCourses(this.selectedUniversityId);
      } else {
        this.courses = await getCourses(this.universityId);
      }

      this.headers = [
        { text: "ID", align: "start", value: "id" },
        { text: "Nombre", align: "start", value: "name" },
        { text: "Validacion con Bedelias", align: "start", value: "validateWithBedelia" },
        { text: "Remoto", align: "start", value: "isRemote" }
      ];
      this.items = this.courses;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async getCalifications() {
    try {
      const califications = await getCalifications(this.selectedCourseId);
      this.headers = [
        { text: "CI", align: "start", value: "student.ci" },
        { text: "Nombre", align: "start", value: "student.firstName" },
        { text: "Apellido", align: "start", value: "student.lastName" },
        { text: "Correo Electronico", align: "start", value: "student.email" },
        { text: "Calificacion", align: "start", value: "score" }
      ];
      this.items = califications;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async getSubjectEnrollments() {
    try {
      const enrollments = await getSubjectEnrollments();
      this.headers = [
        { text: "ID", align: "start", value: "id" },
        { text: "Nombre", align: "start", value: "name" },
        { text: "Profesores", align: "start", value: "professorsQuantity" },
        { text: "Estudiantes", align: "start", value: "studentsQuantity" },
        { text: "Universidad", align: "start", value: "universityName" }
      ];
      this.items = enrollments;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async getUniversityUsers() {
    try {
      const enrollments = await getUniversityUsers();
      this.headers = [
        { text: "ID", align: "start", value: "id" },
        { text: "Nombre", align: "start", value: "name" },
        { text: "Profesores", align: "start", value: "professorsQuantity" },
        { text: "Estudiantes", align: "start", value: "studentsQuantity" }
      ];
      this.items = enrollments;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async changeReport(isTableReport: boolean) {
    if (this.isUdelar) {
      //Reports for UDELAR
      if (isTableReport) {
        switch (
          this.tableReport //this is for tables udelar view
        ) {
          case "Listados de facultades":
            await this.getUniversities();
            break;
          case "Listados de cursos por facultades":
            this.items = [];
            this.headers = [];
            this.universities = await getUniversities();
            if (this.selectedUniversityId != "") {
              await this.getCourses();
            }
            break;
          case "Información estadística de cursos":
            this.items = [];
            this.headers = [];
            this.getSubjectEnrollments().then(() => {
              this.setSubjectEnrollmentsData();
            });
            break;
          case "Información estadística de facultades":
            this.getUniversityUsers();
            break;
          default:
            break;
        }
      } else {
        switch (
          this.graphicReport //this is for graphics udelar view
        ) {
          case "Información estadística de cursos":
            this.getSubjectEnrollments().then(() => {
              this.setSubjectEnrollmentsData();
            });
            break;
          case "Información estadística de facultades":
            this.getUniversityUsers().then(() => {
              this.setUniversityUsersData();
            });
            break;
          default:
            break;
        }
      }
    } else {
      //Reports for a university
      if (isTableReport) {
        switch (
          this.tableReport //this is for tables udelar view
        ) {
          case "Listado de cursos":
            await this.getCourses();
            break;
          case "Información estadística de cursos":
            this.items = [];
            this.headers = [];
            await this.getSubjectEnrollments();
            break;
          case "Resultados de cursos":
            this.items = [];
            this.headers = [];
            await this.getCourses();

            break;
          default:
            break;
        }
      } else {
        switch (
          this.graphicReport //this is for graphics udelar view
        ) {
          case "Información estadística de cursos":
            this.getSubjectEnrollments().then(() => {
              this.setSubjectEnrollmentsData();
            });
            break;
          case "Resultados de cursos":
            this.items = [];
            this.headers = [];
            await this.getCourses();
            break;
          default:
            break;
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.reports {
  padding: 2rem;

  .report-card {
    border-top: 6px solid #00bcd4;
  }
  .reports__no-data {
    display: grid;
    place-items: center;

    .reports__no-data__text {
      font-size: 20px;
      letter-spacing: 1.5px;
    }
  }
}
.chart-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;
}
.chart {
  max-width: 550px;
  max-height: 550px;
}
</style>
