<template>
  <div class="templates">
    <v-row no-gutters justify="center">
      <v-col cols="12" sm="12" md="10" lg="10">
        <list :disabled="true">
          <template slot="list">
            <transition name="scale-transition" mode="out-in">
              <div v-if="searchData.length != 0" class="list__overflow">
                <list-item v-for="(template, index) in searchData" :key="index">
                  <v-avatar slot="image" class="ma-3" size="72" tile color="#fff">
                    <v-icon size="52">mdi-xml</v-icon>
                  </v-avatar>
                  <template slot="content">
                    <v-card-title class="headline px-0">{{ template.title }}</v-card-title>
                    <v-card-subtitle class="px-0">{{ template.description }}</v-card-subtitle>
                  </template>
                  <template slot="actions">
                    <v-btn class="mx-1" color="info" depressed dark @click="getTemplate(template.id)">Ver</v-btn>
                  </template>
                </list-item>
              </div>
              <no-data v-else key="no-data" :loading="isLoading" />
            </transition>
          </template>
        </list>
      </v-col>
    </v-row>
    <template-dialog v-model="templateDialog" :template="template"></template-dialog>
  </div>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import List from "@/components/List/List.vue";
import ListItem from "@/components/List/ListItem.vue";
import NoData from "@/components/List/NoData.vue";
import { SearchMixin } from "@/mixins/search";
import { NotificationMixin } from "@/mixins/notifications";
import { Template } from "@/models/templates";
import { getTemplate, getTemplates } from "@/services/templates";
import TemplateDialog from "@/components/Templates/TemplateDialog.vue";

@Component({
  components: {
    List,
    ListItem,
    NoData,
    TemplateDialog
  }
})
export default class Templates extends Mixins(SearchMixin, NotificationMixin) {
  private isLoading = false;
  private templates: Template[] = [];
  private template: Template | null = null;
  private templateDialog = false;

  private created() {
    this.isLoading = true;

    this.getTemplates().then(() => {
      this.isLoading = false;
    });
  }

  private get searchData() {
    return this.filterData(this.templates);
  }

  private async getTemplates() {
    try {
      this.templates = await getTemplates();
    } catch (error) {
      this.errorHandling(error);
    }
  }
  private async getTemplate(templateId: string) {
    try {
      this.template = await getTemplate(templateId);
      this.templateDialog = true;
    } catch (error) {
      this.errorHandling(error);
    }
  }
}
</script>

<style lang="scss" scoped>
.templates {
  padding: 2rem;
}
.alert {
  background: linear-gradient(90deg, #4caf78, #4caf86);
  box-shadow: 0 0 3px 0 #4caf78 !important;
}
</style>
