<template>
  <v-dialog
    v-if="value"
    :value="value"
    @input="close"
    width="auto"
    max-width="650"
    overlay-opacity="0.8"
    overlay-color="white"
  >
    <v-card class="pt-4 add-dialog">
      <h4 class="text-center title">
        Agregar Curso
      </h4>

      <v-card-text class="d-flex flex-wrap container pt-8">
        <v-form ref="add-course" lazy-validation>
          <div class="item__content">
            <div class="content">
              <v-text-field
                :rules="[rules.required]"
                v-model="course.name"
                color="primary"
                label="Nombre del curso"
                class="name"
              ></v-text-field>
              <v-row>
                <v-col cols="6">
                  <v-select
                    item-text="title"
                    item-value="id"
                    :items="templates"
                    v-model="course.subjectTemplateId"
                    label="Template a utilizar"
                    color="primary"
                  ></v-select>
                </v-col>
                <v-col cols="6">
                  <v-select
                    v-model="selectedCourseOptions"
                    :items="courseOptions"
                    label="Tipo de Curso"
                    small-chips
                    multiple
                  ></v-select>
                </v-col>
                <professors-list
                  :isLoading="isLoading"
                  :multipleSelect="false"
                  :professors="[...this.professors]"
                  @selectedProfessor="updateProfessor"
                />
              </v-row>
            </div>
          </div>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click="close">Cerrar</v-btn>
            <v-btn dark class="ml-1 add-dialog__confirm" depressed :loading="loading" @click.native="createCourse">
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { RuleMixin } from "@/mixins/rules";
import { NotificationMixin } from "@/mixins/notifications";
import { CreateCourse } from "@/models/course";
import ProfessorsList from "@/components/Courses/ProfessorsList.vue";
import { Professor } from "@/models/professor";
import { getProfessor } from "@/services/professors";
import { getTemplates } from "@/services/templates";

@Component({ components: { ProfessorsList } })
export default class AddDialog extends Mixins(RuleMixin, NotificationMixin) {
  @Prop({ default: false }) value!: boolean;
  @Prop({ default: false }) loading!: boolean;

  private selectedProfessor: Professor = {
    id: "",
    firstName: "",
    lastName: "",
    email: "",
    password: "",
    ci: "",
    roles: []
  };
  private course: CreateCourse = {
    name: "",
    responsibleTeacherId: "",
    subjectTemplateId: "",
    validateWithBedelia: false,
    isRemote: false
  };
  private courseTypes = ["Sincronico", "Asincronico"];
  private selectedCourse = "";
  private courseOptions = ["Requiere Bedelias", "Remoto"];
  private selectedCourseOptions = [];
  private professors: Professor[] = [];
  private isLoading = false;
  private templates = [{ id: "", title: "Sin Template", description: "", educationalUnits: [{}, {}, {}] }];

  $refs!: {
    "add-course": HTMLFormElement;
  };

  private created() {
    this.isLoading = true;
    Promise.all([this.getProfessors(), this.getTemplates()]).then(() => (this.isLoading = false));
  }

  private async getProfessors() {
    try {
      this.professors = await getProfessor();
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async getTemplates() {
    try {
      const templates = await getTemplates();
      this.templates = this.templates.concat(templates);
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private setCourseOptions() {
    this.selectedCourseOptions.forEach(option => {
      if (option == "Requiere Bedelias") this.course.validateWithBedelia = true;
      else this.course.isRemote = true;
    });
  }

  private close() {
    this.$emit("input");
    this.course.responsibleTeacherId = "";
    this.course.subjectTemplateId = "";
    this.course.name = "";
    this.course.validateWithBedelia = false;
    this.course.isRemote = false;
  }

  private updateProfessor(professor: Professor) {
    this.selectedProfessor = professor;
  }

  private createCourse() {
    if (this.$refs["add-course"].validate()) {
      this.setCourseOptions();
      const newCourse: CreateCourse = {
        name: this.course.name,
        responsibleTeacherId: this.selectedProfessor.id,
        subjectTemplateId: this.course.subjectTemplateId,
        validateWithBedelia: this.course.validateWithBedelia,
        isRemote: this.course.isRemote
      };
      this.$emit("create", newCourse);
    }
  }
}
</script>

<style lang="scss" scoped>
.add-dialog {
  border-top: 5px solid #00bcd4;

  .add-dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
}
.add-dialog__title {
  display: flex;
  justify-content: center;
  padding: 0;
}
.item__content {
  align-self: center;
  padding: 35px 35px 0px 35px;
  // padding-top: 35px;
}
</style>
