<template>
  <div>
    <v-text-field
      dense
      hide-details
      label="Search"
      prepend-inner-icon="mdi-magnify"
      v-model="searchParameter"
      filled
      rounded
      style="padding-bottom: 15px"
    ></v-text-field>

    <v-list rounded color="#f9f9f9" min-height="220px" width="540px">
      <v-list-item-group
        v-if="filterData.length != 0"
        class="professor-list"
        v-model="selectedProfessor"
        color="secondary"
        :multiple="multipleSelect"
      >
        <v-list-item :value="professor" v-for="professor in filterData" :key="professor.id" @click.stop>
          <template v-slot:default="{ active }">
            <v-list-item-avatar size="52">
              <v-avatar :color="getRandomColor">
                <span class="white--text headline">{{ professor.firstName[0] }}{{ professor.lastName[0] }}</span>
              </v-avatar>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ professor.firstName }} {{ professor.lastName }}</v-list-item-title>
              <v-list-item-subtitle>{{ professor.email }}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action style="flex-direction: unset;">
              <v-checkbox :input-value="active"></v-checkbox>
            </v-list-item-action>
          </template>
        </v-list-item>
      </v-list-item-group>
      <div v-else class="no-data">
        <no-data key="no-data" :loading="isLoading" />
      </div>
    </v-list>
  </div>
</template>

<script lang="ts">
import { Component, Mixins, Prop, Watch } from "vue-property-decorator";
import { UtilitiesMixin } from "@/mixins/utilities";
import { Professor } from "@/models/professor";
import NoData from "@/components/List/NoData.vue";

@Component({ components: { NoData } })
export default class ProfessorList extends Mixins(UtilitiesMixin) {
  @Prop({ default: false }) multipleSelect!: boolean;
  @Prop({ default: false }) isLoading!: boolean;
  @Prop({ default: [] }) professors!: Professor[];
  @Watch("selectedProfessor")
  private onResponsibleProfessorChange(responsibleProfessor: Professor | Professor[]) {
    this.$emit("selectedProfessor", responsibleProfessor);
  }

  private searchParameter = "";

  private selectedProfessor: Professor | Professor[] | null = null;

  private get filterData() {
    return this.professors.filter(professor => {
      return (
        professor.firstName.toLowerCase().includes(this.searchParameter.toLowerCase()) ||
        professor.lastName.toLowerCase().includes(this.searchParameter.toLowerCase())
      );
    });
  }
}
</script>

<style lang="scss" scoped>
.professor-list {
  max-height: 220px;
  overflow: auto;
}
.no-data {
  position: relative !important;
  top: calc(50% - 55px) !important;
}
</style>
