<template>
  <v-dialog
    v-if="value"
    :value="value"
    @input="close"
    width="auto"
    max-width="650"
    overlay-opacity="0.8"
    overlay-color="white"
  >
    <v-card class="pt-4 add-dialog">
      <h4 class="text-center title">
        Modificar Curso
      </h4>
      <v-card-text class="d-flex flex-wrap container pt-8">
        <v-form ref="update-course" lazy-validation>
          <div class="item__content">
            <div class="content">
              <v-row>
                <v-col cols="6">
                  <v-text-field
                    :rules="[rules.required]"
                    v-model="course.name"
                    color="primary"
                    label="Nombre del curso"
                    class="name"
                    @keydown.enter.prevent="updateCourse"
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-select
                    v-model="selectedCourseType"
                    :items="courseTypeOptions"
                    label="Tipo de Curso"
                    small-chips
                    multiple
                  ></v-select>
                </v-col>
              </v-row>
              <v-tabs v-model="tab" background-color="secondary" dark centered>
                <v-tabs-slider></v-tabs-slider>

                <v-tab v-for="tab in tabs" :key="tab.name" :href="`#tab-${tab.name}`">
                  <v-icon class="mx-2">{{ tab.icon }}</v-icon>
                  {{ tab.name }}
                </v-tab>

                <v-tab-item value="tab-Responsable" class="pt-4">
                  <v-text-field
                    dense
                    hide-details
                    label="Buscar docente..."
                    prepend-inner-icon="mdi-magnify"
                    v-model="search"
                    filled
                    rounded
                    style="padding-bottom: 15px"
                  ></v-text-field>

                  <v-list rounded color="#f9f9f9" min-height="220px" width="540px">
                    <v-list-item-group
                      v-if="filterData.length != 0"
                      class="professor-list"
                      v-model="enrolledResponsible"
                      color="secondary"
                      mandatory
                    >
                      <v-list-item
                        :value="professor.id"
                        v-for="professor in filterData"
                        :key="professor.id"
                        @click.stop
                      >
                        <template v-slot:default="{ active }">
                          <v-list-item-avatar size="52">
                            <v-avatar :color="getRandomColor">
                              <span class="white--text headline"
                                >{{ professor.firstName[0] }}{{ professor.lastName[0] }}</span
                              >
                            </v-avatar>
                          </v-list-item-avatar>
                          <v-list-item-content>
                            <v-list-item-title>{{ professor.firstName }} {{ professor.lastName }}</v-list-item-title>
                            <v-list-item-subtitle>{{ professor.email }}</v-list-item-subtitle>
                          </v-list-item-content>
                          <v-list-item-action style="flex-direction: unset;">
                            <v-checkbox :input-value="active"></v-checkbox>
                          </v-list-item-action>
                        </template>
                      </v-list-item>
                    </v-list-item-group>
                    <div v-else class="no-data">
                      <no-data key="no-data" :loading="isLoading" />
                    </div>
                  </v-list>
                </v-tab-item>

                <v-tab-item value="tab-Profesores" class="pt-4">
                  <v-text-field
                    dense
                    hide-details
                    label="Buscar docente..."
                    prepend-inner-icon="mdi-magnify"
                    v-model="search"
                    filled
                    rounded
                    style="padding-bottom: 15px"
                  ></v-text-field>

                  <v-list rounded color="#f9f9f9" min-height="220px" width="540px">
                    <v-list-item-group
                      v-if="filterData.length != 0"
                      class="professor-list"
                      v-model="enrolledProfessors"
                      color="secondary"
                      multiple
                    >
                      <v-list-item
                        :value="professor.id"
                        v-for="professor in filterData"
                        :key="professor.id"
                        @click.stop
                      >
                        <template v-slot:default="{ active }">
                          <v-list-item-avatar size="52">
                            <v-avatar :color="getRandomColor">
                              <span class="white--text headline"
                                >{{ professor.firstName[0] }}{{ professor.lastName[0] }}</span
                              >
                            </v-avatar>
                          </v-list-item-avatar>
                          <v-list-item-content>
                            <v-list-item-title>{{ professor.firstName }} {{ professor.lastName }}</v-list-item-title>
                            <v-list-item-subtitle>{{ professor.email }}</v-list-item-subtitle>
                          </v-list-item-content>
                          <v-list-item-action style="flex-direction: unset;">
                            <v-checkbox :input-value="active"></v-checkbox>
                          </v-list-item-action>
                        </template>
                      </v-list-item>
                    </v-list-item-group>
                    <div v-else class="no-data">
                      <no-data key="no-data" :loading="isLoading" />
                    </div>
                  </v-list>
                </v-tab-item>
              </v-tabs>
            </div>
          </div>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click="close">Cerrar</v-btn>
            <v-btn dark class="ml-1 add-dialog__confirm" depressed :loading="loading" @click="updateCourse">
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { RuleMixin } from "@/mixins/rules";
import { NotificationMixin } from "@/mixins/notifications";
import { UtilitiesMixin } from "@/mixins/utilities";
import { Course } from "@/models/course";
import NoData from "@/components/List/NoData.vue";
import { Professor } from "@/models/professor";
import { updateCourse } from "@/services/courses";
import { Enrollment } from "@/models/enrollment";
import { getProfessor } from "@/services/professors";
import { getEnrollments, enrollProfessors } from "@/services/enrollments";

@Component({ components: { NoData } })
export default class UpdateDialog extends Mixins(RuleMixin, NotificationMixin, UtilitiesMixin) {
  @Prop({ default: false }) value!: boolean;
  @Prop({ default: false }) loading!: boolean;
  @Prop({
    default: () => {
      return {};
    }
  })
  course!: Course;

  private tab = null;
  private tabs = [
    {
      name: "Responsable",
      icon: "mdi-account-tie"
    },
    {
      name: "Profesores",
      icon: "mdi-account-group"
    }
  ];
  private isLoading = false;
  private selectedProfessor: Professor = {
    id: "",
    firstName: "",
    lastName: "",
    email: "",
    password: "",
    ci: "",
    roles: []
  };
  private courseTypeOptions = ["Requiere Bedelias", "Remoto"];
  private selectedCourseType: string[] = [];
  private professorsToEnroll: Enrollment[] = [];

  $refs!: {
    "update-course": HTMLFormElement;
  };

  private search = "";
  private professors: Professor[] = [];
  private enrolledProfessors: string[] = [];
  private enrolledResponsible = "";

  private created() {
    this.isLoading = true;
    Promise.all([this.getProfessors(), this.getEnrolledProfessors()]).then(() => {
      if (this.course.validateWithBedelia) {
        this.selectedCourseType.push("Requiere Bedelias");
      }
      if (this.course.isRemote) {
        this.selectedCourseType.push("Remoto");
      }
      this.isLoading = false;
    });
  }

  private setCourseOptions() {
    if (this.selectedCourseType.length != 0) {
      if (this.selectedCourseType.length == 2) {
        this.course.validateWithBedelia = true;
        this.course.isRemote = true;
      } else {
        this.course.validateWithBedelia = this.selectedCourseType[0] == "Requiere Bedelias" ? true : false;
        this.course.isRemote = this.selectedCourseType[0] == "Remoto" ? true : false;
      }
    } else {
      this.course.validateWithBedelia = false;
      this.course.isRemote = false;
    }
  }

  private close() {
    this.$emit("input");
  }

  private async getProfessors() {
    try {
      this.professors = await getProfessor();
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async getEnrolledProfessors() {
    try {
      const enrollments = await getEnrollments(this.course.id);
      enrollments.forEach(enrollment => {
        if (enrollment.isResponsible) {
          this.enrolledResponsible = enrollment.user.id;
        } else {
          this.enrolledProfessors.push(enrollment.user.id);
        }
      });
    } catch (error) {
      this.errorHandling(error);
    }
  }
  private async updateCourse() {
    if (this.$refs["update-course"].validate()) {
      try {
        this.isLoading = true;
        this.setCourseOptions();
        await updateCourse(this.course.id, {
          name: this.course.name,
          validateWithBedelia: this.course.validateWithBedelia,
          isRemote: this.course.isRemote
        });
        const responsibleProfessor = { userId: this.enrolledResponsible, isResponsible: true };
        const enrolledProfessors = this.enrolledProfessors.map(professor => {
          return { userId: professor, isResponsible: false };
        });
        enrolledProfessors.push(responsibleProfessor);
        await enrollProfessors(this.course.id, enrolledProfessors);
        this.$emit("update", this.course);
        this.close();
        this.success("Curso", "El curso se ha modificado correctamente");
      } catch (error) {
        this.errorHandling(error);
      } finally {
        this.isLoading = false;
      }
    }
  }

  private get filterData() {
    return this.professors.filter(professor => {
      return (
        professor.firstName.toLowerCase().includes(this.search.toLowerCase()) ||
        professor.lastName.toLowerCase().includes(this.search.toLowerCase())
      );
    });
  }
}
</script>

<style lang="scss" scoped>
.container {
  justify-content: center !important;
}
.add-dialog {
  border-top: 5px solid #00bcd4;

  .add-dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
}
.add-dialog__title {
  display: flex;
  justify-content: center;
  padding: 0;
}
.item__content {
  align-self: center;
  padding: 35px 35px 0px 35px;
}

.professor-list {
  max-height: 220px;
  overflow: auto;
}
.no-data {
  position: relative !important;
  top: calc(50% - 55px) !important;
}
</style>
