<template functional>
  <div class="server-error">
    <div class="text-center">
      <v-img
        alt="Server Error"
        class="mr-2"
        contain
        :src="require('./../../assets/images/server-error.svg')"
        transition="scale-transition"
        width="400"
      />
      <v-img
        alt="Waves"
        :src="require('./../../assets/images/login-image.svg')"
        transition="scale-transition"
        class="server-error__waves"
      />
      <v-img
        alt="Logo"
        contain
        :src="require('./../../assets/images/logo.jpg')"
        transition="scale-transition"
        width="128"
        class="server-error__logo"
      />
      <p class="server-error__title mb-0">Internal Server Error</p>
      <p class="server-error__subtitle">El servidor ha estado desierto por un tiempo</p>
      <p class="server-error__subtitle">Ten paciencia o vuelve a intentarlo más tarde</p>
      <router-link to="/" style="text-decoration: none;"
        ><v-btn color="secondary" block x-large class="mt-8">Volver al Inicio</v-btn></router-link
      >
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class ServerError extends Vue {}
</script>

<style lang="scss" scoped>
.server-error {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;

  .server-error__title {
    letter-spacing: 1.5px;
    font-size: 42px;
    color: #6b6b6b;
    margin-top: 21px;
  }

  .server-error__subtitle {
    font-size: 13px;
    color: #6b6b6b;
    margin: 0;
  }

  .server-error__waves {
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 0;
    width: 50%;
    opacity: 1;
    transform: rotate(180deg);
    height: 100vh;
  }

  .server-error__logo {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
</style>
