<template>
  <v-form class="form pa-6">
    <v-card flat>
      <v-card-text>
        <span class="form__title">Udelar</span>
        <p class="form__subtitle mt-5">Bienvenido de vuelta!</p>
        <p>Acceda a su cuenta para comenzar a administrar</p>
        <v-form lazy-validation ref="login-form">
          <v-text-field
            filled
            rounded
            autofocus
            :rules="[rules.mail]"
            v-model="email"
            @keyup.enter="doLogin"
            prepend-inner-icon="mdi-email"
            label="Correo Electronico"
            color="primary"
          ></v-text-field>
          <v-text-field
            filled
            rounded
            :rules="[rules.required]"
            v-model="password"
            @keyup.enter="doLogin"
            prepend-inner-icon="mdi-lock"
            type="password"
            label="Contraseña"
            color="primary"
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="doLogin" :loading="loading" dark depressed block class="form__button">Ingresar</v-btn>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { authenticate } from "@/services/auth";
import { updateHeaders } from "@/plugins/axios";
import { NotificationMixin } from "@/mixins/notifications";
import { RuleMixin } from "@/mixins/rules";
import jwtDecode from "jwt-decode";
@Component({})
export default class LoginFrom extends Mixins(NotificationMixin, RuleMixin) {
  $refs!: {
    "login-form": HTMLFormElement;
  };
  private email = "";
  private password = "";
  private loading = false;

  private async doLogin() {
    if (this.$refs["login-form"].validate()) {
      try {
        this.loading = true;
        const response = await authenticate({ email: this.email, password: this.password });
        updateHeaders(response.accessToken);
        const data: { role: string } = jwtDecode(response.accessToken);
        this.$store.commit("SET_USER_TOKENS", response);
        this.$store.commit("SET_USER_DATA", data);
        if (data.role == "UdelarAdmin") {
          this.$router.push("/universities");
        } else {
          this.$router.push("/administrators");
        }
      } catch (error) {
        this.errorHandling(error);
      } finally {
        this.loading = false;
      }
    }
  }
}
</script>

<style scoped lang="scss">
.form {
  margin: auto;
  width: 450px;
  text-align: center;
  z-index: 2;
  transition: all 0.5s cubic-bezier(1, -0.07, 0.66, 1.01);

  .form__button {
    height: 50px !important;
    background: linear-gradient(90deg, #00bcd4, #2196f3);
    box-shadow: 0 0 3px 0 #2196f3 !important;
    font-weight: 600;
  }

  .form__subtitle {
    font-weight: bold;
  }

  .form__title {
    position: relative;
    font-size: 41px;
    font-weight: 300;
    letter-spacing: 1px;

    &:after {
      content: "";
      width: 100%;
      border-radius: 31px;
      position: absolute;
      background: linear-gradient(90deg, #00bcd4, #2196f3);
      height: 3px;
      top: 50px;
      left: 0;
    }
  }
}
</style>
