<template>
  <v-app id="app">
    <notifications group="feedback" />
    <v-main>
      <transition name="fade" mode="out-in" appear>
        <login v-if="inLogin" key="login" />
        <layout v-else key="layout" />
      </transition>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Layout from "@/components/Layout/Layout.vue";
import Login from "@/views/Login.vue";
import Users from "@/store/modules/user";

@Component({
  components: {
    Layout,
    Login
  }
})
export default class App extends Vue {
  private get inLogin() {
    return Users.inLogin;
  }
}
</script>

<style lang="scss">
/* NUNITO FONT */
@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(./assets/fonts/Nunito-Regular.ttf) format("truetype");
}

#app {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.ql-editor {
  max-height: 200px !important;
}

img {
  pointer-events: none;
}

/* SCROLL STYLE */
* {
  scrollbar-color: #626262 transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  background: #fff;
  height: 0.5em;
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

::-webkit-scrollbar-thumb {
  box-sizing: content-box;
  border-radius: 10px;
  border: 1px solid #929292;
  background: #626262;
}

/* TRANSITIONS */
.fade-enter {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}

.fade-leave-to {
  opacity: 0;
}

/* NOTIFICATIONS */
.notifications {
  top: 0px !important;
  width: 310px !important;
  right: 10px !important;
}

.notification-wrapper {
  margin: 10px 0 !important;
  height: auto !important;
  border-radius: 8px !important;
  opacity: 1 !important;
}

.vue-notification {
  font-size: 14px !important;
  margin: -0px 0px 0px 0px !important;
  margin-right: 0px !important;
  cursor: pointer !important;
  height: 100% !important;
}

.vue-notification-group {
  top: 10px !important;
  right: 10px !important;
}

.vue-notification-wrapper {
  border-radius: 8px !important;
  margin-bottom: 5px !important;
}

.vue-notification-template.vue-notification.warning {
  background-color: #ffbc00 !important;
  border-left: 6px solid #ffd150 !important;
}

.vue-notification-template.vue-notification.error {
  border-left-color: #b82e24 !important;
  border-left: 6px solid #ff8484 !important;
}

.vue-notification-template.vue-notification.info {
  background: #1fa9d8 !important;
  border-left: 6px solid #87d1ea !important;
}

.vue-notification-template.vue-notification.success {
  border-left: 6px solid #648b5b !important;
  background-color: #73b176 !important;
}

.vue-notification .notification-title {
  font-size: 1.2rem;
  font-weight: 100;
}
</style>
