<template>
  <v-dialog :value="value" @input="close" width="700px" overlay-opacity="0.8" overlay-color="white">
    <v-card flat class="preferences-dialog">
      <v-card-title>Seleccione la apariencia del sistema</v-card-title>
      <v-card-subtitle>Seleccione los colores de la plataforma</v-card-subtitle>
      <v-card-text class="pa-8">
        <v-row no-gutters justify="center">
          <v-col cols="6" class="pr-12" align-self="center">
            <v-form lazy-validation ref="input-file">
              <v-file-input
                accept="image/png, image/jpeg, image/bmp"
                placeholder="Ingrese un logo"
                prepend-inner-icon="mdi-camera"
                prepend-icon=""
                label="Avatar"
                filled
                rounded
                :rules="[rules.fileSize]"
                v-model="file"
                @change="fileToBase64"
                @click:clear="clearLogo"
              ></v-file-input>

              <v-menu :close-on-content-click="false" max-width="300">
                <template v-slot:activator="{ on }">
                  <v-text-field
                    prepend-inner-icon="mdi-palette"
                    label="Color Primario"
                    v-model="university.primaryColor"
                    :rules="[v => v.length <= 7 || 'El codigo del color no puede ser mayor a 7']"
                    v-on="on"
                    filled
                    rounded
                  >
                    <div
                      slot="append"
                      class="rounded mt-2"
                      style="width: 15px; height: 15px;"
                      :style="`background: ${university.primaryColor}`"
                    ></div>
                  </v-text-field>
                </template>
                <v-color-picker
                  dot-size="25"
                  swatches-max-height="200"
                  v-model="university.primaryColor"
                ></v-color-picker>
              </v-menu>

              <v-menu :close-on-content-click="false" max-width="300">
                <template v-slot:activator="{ on }">
                  <v-text-field
                    prepend-inner-icon="mdi-palette"
                    label="Color Secundario"
                    v-model="university.secondaryColor"
                    :rules="[v => v.length <= 7 || 'El codigo del color no puede ser mayor a 7']"
                    v-on="on"
                    filled
                    rounded
                  >
                    <div
                      slot="append"
                      class="rounded mt-2"
                      style="width: 15px; height: 15px;"
                      :style="`background: ${university.secondaryColor}`"
                    ></div>
                  </v-text-field>
                </template>
                <v-color-picker
                  dot-size="25"
                  swatches-max-height="200"
                  v-model="university.secondaryColor"
                ></v-color-picker>
              </v-menu>
            </v-form>
          </v-col>
          <v-col cols="6">
            <v-card elevation="2" tile>
              <v-toolbar :color="university.primaryColor" elevation="2">
                <div class="d-flex align-center">
                  <v-img
                    alt="Vuetify Logo"
                    class="shrink mr-2"
                    contain
                    :src="university.logo ? university.logo : require('@/assets/images/logote.png')"
                    transition="scale-transition"
                    max-width="100"
                    max-height="55"
                  />
                </div>

                <v-spacer></v-spacer>

                <v-btn text dark class="px-0" small>
                  <span class="mr-2">Acceder</span>
                  <v-icon>mdi-login-variant</v-icon>
                </v-btn>
              </v-toolbar>
              <v-card-text>
                <v-text-field filled rounded dense prepend-inner-icon="mdi-magnify" disabled></v-text-field>
                <v-skeleton-loader class="mx-auto" max-width="300" type="list-item-avatar-two-line"></v-skeleton-loader>
                <v-skeleton-loader class="mx-auto" max-width="300" type="list-item-avatar-two-line"></v-skeleton-loader>
              </v-card-text>
              <v-card-actions style="border-top: 1px solid #f0f0f0">
                <v-btn icon class="mx-6">
                  <v-icon>mdi-account</v-icon>
                </v-btn>

                <v-spacer></v-spacer>

                <v-btn icon class="mx-6" :color="university.secondaryColor">
                  <v-icon>mdi-magnify</v-icon>
                </v-btn>

                <v-spacer></v-spacer>

                <v-btn icon class="mx-6">
                  <v-icon>mdi-message-text-outline</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click.native="close">Cerrar</v-btn>
            <v-btn dark color="success" class="ml-1" depressed :loading="isLoading" @click="updateUniversity">
              Actualizar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { NotificationMixin } from "@/mixins/notifications";
import { RuleMixin } from "@/mixins/rules";
import { getUniversity, updateUniversity } from "@/services/universities";
import UserModule from "@/store/modules/user";
import { University } from "@/models/university";
import axios from "axios";

@Component({})
export default class Preferences extends Mixins(NotificationMixin, RuleMixin) {
  @Prop({ default: false }) value!: boolean;

  $refs!: {
    "input-file": HTMLFormElement;
  };
  private file: File | null = null;
  private logo: string | ArrayBuffer | null = null;
  private university: University = {
    id: "",
    name: "",
    accessPath: "",
    description: "",
    logo: "",
    primaryColor: "",
    secondaryColor: ""
  };
  private isLoading = false;

  private close() {
    this.$emit("input");
  }

  private created() {
    this.getUniversity();
  }

  private async getUniversity() {
    try {
      this.university = await getUniversity(this.universityId);
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async updateUniversity() {
    if (this.$refs["input-file"].validate()) {
      try {
        this.isLoading = true;
        if (this.university) {
          if (this.file) {
            const formData = new FormData();
            formData.append("image", this.file);
            const result = await axios({
              url: "https://api.imgur.com/3/image/",
              headers: {
                Authorization: `Client-ID ${process.env.VUE_APP_CLIENTID}`
              },
              method: "POST",
              data: formData
            });
            this.university.logo = result.data.data.link;
          }
          await updateUniversity(this.university);
          this.success("CONFIGURACION", "Se actualizo la configuracion correctamente");
        }
      } catch (error) {
        this.errorHandling(error);
      } finally {
        this.isLoading = false;
      }
    }
  }

  private fileToBase64() {
    if (this.file && this.file.size < 1000000) {
      const base64Reader = new FileReader();
      base64Reader.readAsDataURL(this.file);
      base64Reader.onload = () => {
        this.logo = base64Reader.result;
      };
    }
  }

  private clearLogo() {
    this.$refs["input-file"].reset();
    this.file = null;
    this.logo = null;
  }

  private get universityId() {
    return UserModule.user?.Tenant ?? "";
  }
}
</script>

<style lang="scss" scoped>
.preferences-dialog {
  border-top: 5px solid #444fee !important;

  .preferences-dialog__title {
    justify-content: center;
    padding: 0;
  }
}
</style>
