<template>
  <v-dialog v-if="value" :value="value" @input="close" width="550px" overlay-opacity="0.8" overlay-color="white">
    <v-card class="pt-4 add-dialog">
      <v-card-title class="add-dialog__title">Agregar Facultad</v-card-title>
      <v-card-text class="pt-8 px-10 text-center">
        <v-form ref="add-university" lazy-validation>
          <v-tabs v-model="tab" fixed-tabs>
            <v-tabs-slider></v-tabs-slider>
            <v-tab v-for="tab in tabs" :key="tab.name" :href="`#tab-${tab.name}`">
              {{ tab.name }}
            </v-tab>

            <v-tab-item value="tab-Datos Generales" class="pt-10">
              <v-row no-gutters>
                <v-col :cols="field.cols" class="px-3" v-for="field in fields" :key="field.value">
                  <v-text-field
                    :label="field.label"
                    :prepend-inner-icon="field.icon"
                    v-model="newUniversity[field.value]"
                    :rules="[rules[field.rules]]"
                    :type="field.type == 'password' ? 'password' : ''"
                    :placeholder="field.value == 'accessPath' ? 'eg: /fing' : ''"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-tab-item>

            <v-tab-item value="tab-Descripcion" class="pt-10">
              <vue-editor
                useCustomImageHandler
                @image-added="handleImageAdded"
                v-model="newUniversity.description"
              ></vue-editor>
            </v-tab-item>
          </v-tabs>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click.native="close">Cerrar</v-btn>
            <v-btn dark color="#09c78a" class="ml-1" depressed @click.native="createUniversity">
              Crear
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { VueEditor } from "vue2-editor";
import axios from "axios";
import { RuleMixin } from "@/mixins/rules";
import { NotificationMixin } from "@/mixins/notifications";
@Component({
  components: {
    VueEditor
  }
})
export default class AddUniversity extends Mixins(RuleMixin, NotificationMixin) {
  @Prop({ default: false }) value!: boolean;

  $refs!: {
    "add-university": HTMLFormElement;
  };

  private tab = null;
  private tabs = [
    {
      name: "Datos Generales",
      icon: "mdi-bullhorn-outline"
    },
    {
      name: "Descripcion",
      icon: "mdi-account-supervisor"
    }
  ];

  private fields = [
    {
      label: "Nombre",
      icon: "mdi-school",
      value: "name",
      rules: "required",
      type: "text",
      cols: "6"
    },
    {
      label: "Direccion del sitio",
      icon: "mdi-open-in-new",
      value: "accessPath",
      rules: "path",
      type: "text",
      cols: "6"
    },
    {
      label: "Nombre",
      icon: "mdi-account",
      value: "firstName",
      rules: "required",
      type: "text",
      cols: "6"
    },
    {
      label: "Apellido",
      icon: "mdi-account",
      value: "lastName",
      rules: "required",
      type: "text",
      cols: "6"
    },
    {
      label: "Correo",
      icon: "mdi-email",
      value: "email",
      rules: "mail",
      type: "text",
      cols: "12"
    },
    {
      label: "Contraseña",
      icon: "mdi-lock",
      value: "password",
      rules: "minPassword",
      type: "password",
      cols: "12"
    }
  ];

  private newUniversity = {
    name: "",
    accessPath: "",
    firstName: "",
    lastName: "",
    ci: null,
    password: "",
    email: "",
    description: "<h2>Escriba una descripcion...</h2>",
    logo: ""
  };

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  private async handleImageAdded(file: File, Editor: any, cursorLocation: any, resetUploader: Function) {
    const formData = new FormData();
    formData.append("image", file);

    try {
      const result = await axios({
        url: "https://api.imgur.com/3/image/",
        headers: {
          Authorization: `Client-ID ${process.env.VUE_APP_CLIENTID}`
        },
        method: "POST",
        data: formData
      });
      const url = result.data.data.link;
      Editor.insertEmbed(cursorLocation, "image", url);
      resetUploader();
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private createUniversity() {
    if (this.$refs["add-university"].validate()) {
      const newUniversity = {
        name: this.newUniversity.name,
        accessPath: this.newUniversity.accessPath,
        description: this.newUniversity.description,
        logo: "",
        defaultAdmin: {
          firstName: this.newUniversity.firstName,
          lastName: this.newUniversity.lastName,
          ci: this.newUniversity.ci,
          password: this.newUniversity.password,
          email: this.newUniversity.email
        }
      };
      this.$emit("create", newUniversity);
    }
  }

  private close() {
    this.$emit("input");
    this.newUniversity = {
      name: "",
      accessPath: "",
      firstName: "",
      lastName: "",
      ci: null,
      password: "",
      email: "",
      description: "",
      logo: ""
    };
  }
}
</script>

<style lang="scss" scoped>
.add-dialog {
  border-top: 5px solid #444fee;

  .add-dialog__title {
    justify-content: center;
    padding: 0;
  }
}
</style>
