<template>
  <div>
    <v-card>
      <v-card-text>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-form ref="update-form" lazy-validation>
              <div class="d-flex flex-wrap" style="align-items: center;">
                <v-avatar class="ma-3" size="125" tile color="#f0f0f0">
                  <v-img src="./../../assets/images/logo.jpg"></v-img>
                </v-avatar>
                <v-text-field
                  class="px-4"
                  v-model="university.name"
                  dense
                  label="Nombre"
                  :rules="[rules.required]"
                  outlined
                  value="Facultad de Ingenieria"
                  @keydown.enter="updateUniversity"
                ></v-text-field>
                <v-text-field
                  class="px-4"
                  dense
                  v-model="university.accessPath"
                  :rules="[rules.path]"
                  label="Direccion de acceso"
                  outlined
                  value="Facultad de Ingenieria"
                  @keydown.enter="updateUniversity"
                ></v-text-field>
                <vue-editor
                  useCustomImageHandler
                  @image-added="handleImageAdded"
                  v-model="university.description"
                  style="margin-bottom: 15px!important; margin-left: auto!important; padding-right: 26px !important;"
                ></vue-editor>
              </div>
              <v-btn color="error" class="mx-2" dark depressed @click="deleteDialog = true">Eliminar</v-btn>
              <v-btn color="success" class="mx-2" dark depressed :loading="loading" @click="updateUniversity"
                >Guardar</v-btn
              >
              <hr class="mt-5" />
            </v-form>
          </v-col>
        </v-row>
        <v-tabs v-model="tab" background-color="secondary" dark centered class="pt-10">
          <v-tabs-slider></v-tabs-slider>

          <v-tab v-for="tab in tabs" :key="tab.name" :href="`#tab-${tab.name}`">
            <v-icon class="mx-2">{{ tab.icon }}</v-icon>
            {{ tab.name }}
          </v-tab>

          <v-tab-item value="tab-Comunicados">
            <publish-notice :isUdelar="true"></publish-notice>
          </v-tab-item>

          <v-tab-item value="tab-Administradores">
            <administrators :administrators="university.administrators" />
          </v-tab-item>
        </v-tabs>
      </v-card-text>
    </v-card>

    <delete-dialog v-model="deleteDialog" type="Facultad" @confirm="deleteUniversity" />
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { VueEditor } from "vue2-editor";
import axios from "axios";
import { getUniversity, deleteUniversity, updateUniversity } from "@/services/universities";
import DeleteDialog from "./../Dialogs/Delete.vue";
import PublishNotice from "./Notices/PublishNotice.vue";
import Administrators from "./../University/Administrators/Administrators.vue";
import { NotificationMixin } from "@/mixins/notifications";
import { RuleMixin } from "@/mixins/rules";
import { University } from "@/models/university";

@Component({
  components: {
    DeleteDialog,
    Administrators,
    PublishNotice,
    VueEditor
  }
})
export default class UniversitieCard extends Mixins(NotificationMixin, RuleMixin) {
  $refs!: {
    "update-form": HTMLFormElement;
  };
  private deleteDialog = false;
  private loading = false;
  private tab = null;
  private university: University = {
    id: "",
    name: "",
    accessPath: "",
    administrators: [],
    description: "<h2>Escriba una descripcion...</h2>"
  };

  private oldUniversity: University = {
    id: "",
    name: "",
    accessPath: "",
    description: "<h2>Escriba una descripcion...</h2>"
  };
  private tabs = [
    {
      name: "Comunicados",
      icon: "mdi-bullhorn-outline"
    },
    {
      name: "Administradores",
      icon: "mdi-account-supervisor"
    }
  ];

  private created() {
    this.getUniversity().then(() => {
      if (this.university.description == "") {
        this.university.description = "<h2>Escriba una descripcion...</h2>";
        this.oldUniversity.description = "<h2>Escriba una descripcion...</h2>";
      }
    });
  }

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  private async handleImageAdded(file: File, Editor: any, cursorLocation: any, resetUploader: Function) {
    const formData = new FormData();
    formData.append("image", file);

    try {
      const result = await axios({
        url: "https://api.imgur.com/3/image/",
        headers: {
          Authorization: `Client-ID ${process.env.VUE_APP_CLIENTID}`
        },
        method: "POST",
        data: formData
      });
      const url = result.data.data.link;
      Editor.insertEmbed(cursorLocation, "image", url);
      resetUploader();
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async getUniversity() {
    try {
      this.university = await getUniversity(this.$route.params.id);
      this.oldUniversity = { ...this.university };
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async deleteUniversity() {
    try {
      await deleteUniversity(this.$route.params.id);
      this.deleteDialog = false;
      this.$router.push("/");
      this.success("Facultad", "La facultad se elimino correctamente");
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private get shouldUpdate(): boolean {
    return (
      this.university.name != this.oldUniversity.name ||
      this.university.accessPath != this.oldUniversity.accessPath ||
      this.university.description != this.oldUniversity.description
    );
  }

  private async updateUniversity() {
    if (this.$refs["update-form"].validate() && this.shouldUpdate) {
      try {
        this.loading = true;
        await updateUniversity(this.university);
        this.oldUniversity = { ...this.university };
        this.success("Facultad", "La facultad se modifico correctamente");
      } catch (error) {
        this.university = { ...this.oldUniversity };
        this.errorHandling(error);
      } finally {
        this.loading = false;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.no-data {
  display: grid;
  place-items: center;

  .no-data__text {
    font-size: 20px;
    letter-spacing: 1.5px;
  }
}
</style>
