<template>
  <div>
    <v-card flat outlined tile style="border: 1px solid #efefef">
      <v-card-text class="text-align">
        <v-list rounded color="#f9f9f9">
          <div class="list__overflow">
            <v-list-item v-for="(admin, index) in administrators" :key="admin.id" @click.stop>
              <v-list-item-avatar size="52">
                <v-avatar :color="randomColor()">
                  <span class="white--text headline">{{ admin.firstName[0] }}{{ admin.lastName[0] }}</span>
                </v-avatar>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>{{ admin.firstName }} {{ admin.lastName }}</v-list-item-title>
                <v-list-item-subtitle v-html="admin.email"></v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action style="flex-direction: unset;">
                <v-btn
                  icon
                  class="mx-1"
                  @click="
                    updateDialog = true;
                    selectAdministrator(admin, index);
                  "
                >
                  <v-icon>
                    mdi-pencil
                  </v-icon>
                </v-btn>
                <v-btn
                  icon
                  class="mx-1"
                  @click="
                    deleteDialog = true;
                    selectAdministrator(admin, index);
                  "
                >
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </div>
          <v-list-item>
            <v-btn text color="grey" class="mx-auto add-btn" :loading="loading" @click="addDialog = true">
              <v-icon size="30" class="mr-1">mdi-plus</v-icon>
              Agregar
            </v-btn>
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
    <add-administrator v-model="addDialog" @create="addAdministrator" :loading="loading"></add-administrator>
    <delete-dialog @confirm="deleteAdministrator" :type="'Administrador'" v-model="deleteDialog"></delete-dialog>
    <update-administrator
      v-model="updateDialog"
      :administratorData="{ ...this.selectedAdministrator }"
      :universityId="this.$route.params.id"
      @updateAdministratorData="updateAdministrator"
    />
  </div>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { NotificationMixin } from "@/mixins/notifications";
import { UtilitiesMixin } from "@/mixins/utilities";
import { Administrator } from "@/models/administrator";
import { createAdministrator, deleteAdministrator } from "@/services/administrators";
import AddAdministrator from "@/components/Administrators/AddAdministrator.vue";
import UpdateAdministrator from "@/components/Administrators/UpdateAdministrator.vue";
import DeleteDialog from "@/components/Dialogs/Delete.vue";

@Component({
  components: {
    AddAdministrator,
    DeleteDialog,
    UpdateAdministrator
  }
})
export default class Administrators extends Mixins(NotificationMixin, UtilitiesMixin) {
  @Prop({ default: [] }) administrators!: Administrator[];

  private addDialog = false;
  private deleteDialog = false;
  private updateDialog = false;
  private loading = false;
  private selectedAdministrator: Administrator = {
    id: "",
    name: "",
    firstName: "",
    lastName: "",
    password: "",
    email: ""
  };
  private selectedAdministratorIndex!: number;

  private async addAdministrator(administrator: Administrator) {
    try {
      this.loading = true;
      const newAdministrator = await createAdministrator(administrator, this.$route.params.id);
      this.administrators.push(newAdministrator);
      this.addDialog = false;
      this.success("Administradores", "El administrador se agrego correctamente");
    } catch (error) {
      this.errorHandling(error);
    } finally {
      this.loading = false;
    }
  }

  private async deleteAdministrator() {
    try {
      await deleteAdministrator(this.selectedAdministrator.id, this.$route.params.id);
      this.administrators.splice(this.selectedAdministratorIndex, 1);
      this.deleteDialog = false;
      this.success("ADMINISTRADORES", "El administrador se elimino correctamente");
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private updateAdministrator(administrator: Administrator) {
    this.administrators[this.selectedAdministratorIndex] = administrator;
  }

  private selectAdministrator(administrator: Administrator, index: number) {
    this.selectedAdministrator = administrator;
    this.selectedAdministratorIndex = index;
  }
}
</script>

<style lang="scss" scoped>
.add-btn:hover {
  color: green !important;
}

.list__overflow {
  max-height: 350px !important;
  overflow-y: auto !important;
}
</style>
